i {
    position:absolute;
    bottom:7px;
    right:5px;
    width:24px;
    height:24px;
    color: #000;
}

.input-password {
    position:relative;
    margin: 0;
    direction: ltr;
    width: 100%;
}

.input-password {
    input[type="password"]:focus i {
        position:absolute;
        bottom:7px;
        right:5px;
        width:24px;
        height:24px;
    }
}

.mt-0 {
    margin-top: 0;
}