<ion-content>
    <main id="login-page" class="bg-offwhite container">
        <section id="login-logo" class="constrain">
            <img class="svg" src="assets/images/logo.png" height="150px" alt="Zero-30 Logo">
        </section>
        <section id="login-form" class="constrain">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <!-- This is the error text, it displays form errors. -->
                <p class="error" *ngIf="(activeError$ | async)">
                    Oh no! Your account or password is incorrect, please check again.
                </p>
                
                <div class="form-row">
                    <div>
                        <input type="text" 
                            placeholder="Username" 
                            [formControlName]="'Username'" />
                        <p class="margin-xs" 
                            *ngIf="loginForm.get('Username').invalid && loginForm.get('Username').touched">
                            <span class="error-message-block" 
                                *ngIf="loginForm.get('Username').errors['required']">
                                This field is required
                            </span>
                        </p>
                    </div>
                </div>
      
                <div class="form-row">
                    <div class="input-password">
                        <input type="password" 
                            placeholder="Password"
                            #passwordField
                            [formControlName]="'Password'" />
                            <i class="far fa-eye" 
                                id="togglePassword" 
                                (click)="revealPassword(passwordField)"></i>
                        <!-- <p class="margin-xs" 
                            *ngIf="loginForm.get('Password').invalid && loginForm.get('Password').touched">
                            <span class="error-message-block" 
                                *ngIf="loginForm.get('Password').errors['required']">
                                This field is required
                            </span>
                        </p> -->
                    </div>
                </div>
                <p class="margin-xs mt-0" 
                    style="width: 100%; display:block;"
                        *ngIf="loginForm.get('Password').invalid && loginForm.get('Password').touched">
                        <span class="error-message-block" 
                            *ngIf="loginForm.get('Password').errors['required']">
                                This field is required
                        </span>
                        </p>
      
                <div class="form-row reset-password-link">
                    <a [routerLink]="['/auth', 'forgot-password']" class="link link-secondary">Forgot password!</a>
                </div>
      
                <div></div>
      
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" name="sign-in">Sign In</button>
                </div>
      
                <!-- Facebook sign in button -->
                <div class="form-row">
                    <button class="btn btn-facebook" (click)="facebookLogin()">Sign In with Facebook</button>
                </div>
            </form>
        </section>
      
        <section id="create-account-link" class="constrain">
            <p>You don’t have an account? <a [routerLink]="['/auth', 'sign-up']" class="link link-primary">Sign up</a></p>
        </section>
      </main>
</ion-content>