<!-- Because this is the Favorites page, all products are bookmarked. So no work has to be done for the bookmark icon. It's already styled from the .favorite class. -->
<div class="favourite">
  <a (click)="openProductDetail()" class="image cursor-pointer">
    <img [alt]="product.productModel.name" 
        height="85px" 
        *ngIf="product.productImageModels?.length > 0; else defaultTemplate"
        [src]="product.productImageModels[0].path | filePathFormatter">
      <ng-template #defaultTemplate>
        <img src="assets/images/products/10.png" 
            height="85px" 
            [alt]="product.productModel?.name" />
      </ng-template>
  </a>
  <div class="details">
      <a (click)="openProductDetail()" class="name cursor-pointer">
          <h5>{{ product.productModel?.name | uppercase }}</h5>
      </a>
      <button class="btn bookmark">
          <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
      </button>
      <p class="restaurant-name">
          <img class="svg" src="assets/images/icons/store.svg" height="15px" alt="Store">
          <span>{{ product.productModel["productCategoryModel"]["name"] | uppercase }}</span>
      </p>
      <div class="bottom">
          <p class="reviews">
              <img class="svg icon" alt="" src="assets/images/icons/star.svg">
              <b>{{ product["productRating"] | number : '1.1-3' }}</b>
              <span>(1256)</span>
          </p>

          <p class="price">{{ product.productCostModel.unitPrice | currency }}</p>
      </div>
  </div>
</div>