<ion-content>
    <main id="verification-page" class="bg-offwhite container">

        <section id="header" class="constrain">
            <div class="navigation">
                <a [routerLink]="['/auth', 'forgot-password']" class="back">
                    <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
                </a>
            </div>
        </section>
      
        <section id="heading-text" class="constrain">
            <h1 class="title">Verification</h1>
            <p>Enter the OTP code from the phone we just sent you.</p>
        </section>
      
        <section id="verification-form" class="constrain">
            <form [formGroup]="validateOTPForm" 
                (ngSubmit)="onSubmit()"
                class="otp" 
                autocomplete="off">
                <div class="form-row">
                    <input type="text" 
                        maxlength="1" 
                        id="digit-1" 
                        [formControlName]="'Digit1'"/>
                    <input type="text" 
                        maxlength="1" 
                        id="digit-2" 
                        [formControlName]="'Digit2'"/>
                    <input type="text" 
                        maxlength="1" 
                        id="digit-3" 
                        [formControlName]="'Digit3'"/>
                    <input type="text" 
                        maxlength="1" 
                        id="digit-4" 
                        [formControlName]="'Digit4'"/>
                </div>
      
                <p class="error" 
                    *ngIf="validateOTPForm.get('Digit1').touched && validateOTPForm.get('Digit1').invalid">
                    <span *ngIf="validateOTPForm.get('Digit1').errors['required']">
                        Oh no! This field is required
                    </span><br />
                    <span *ngIf="validateOTPForm.get('Digit1').errors['notNumber']">
                        Oh no! This must be a number
                    </span>
                </p>

                <p class="error" 
                    *ngIf="validateOTPForm.get('Digit2').touched && validateOTPForm.get('Digit2').invalid">
                    <span *ngIf="validateOTPForm.get('Digit2').errors['required']">
                        Oh no! This field is required
                    </span><br />
                    <span *ngIf="validateOTPForm.get('Digit2').errors['notNumber']">
                        Oh no! This must be a number
                    </span>
                </p>

                <p class="error" 
                    *ngIf="validateOTPForm.get('Digit3').touched && validateOTPForm.get('Digit3').invalid">
                    <span *ngIf="validateOTPForm.get('Digit3').errors['required']">
                        Oh no! This field is required
                    </span><br />
                    <span *ngIf="validateOTPForm.get('Digit3').errors['notNumber']">
                        Oh no! This must be a number
                    </span>
                </p>

                <p class="error" 
                    *ngIf="validateOTPForm.get('Digit4').touched && validateOTPForm.get('Digit4').invalid">
                    <span *ngIf="validateOTPForm.get('Digit4').errors['required']">
                        Oh no! This field is required
                    </span><br />
                    <span *ngIf="validateOTPForm.get('Digit4').errors['notNumber']">
                        Oh no! This must be a number
                    </span>
                </p>
      
                <div></div>
      
                <div class="form-row">
                    <p>Didn’t receive OTP code! <a (click)="resendCode()" class="link link-dark">Resend</a></p>
                </div>
      
                <div class="form-row">
                    <button type="submit" 
                        class="btn btn-primary" 
                        [disabled]="validateOTPForm.invalid">
                        Next
                    </button>
                </div>
            </form>
        </section>
      </main>
</ion-content>