<a (click)="viewProductDetail()" class="order bookmarked cursor-pointer">
  <div class="details">
    <div class="image">
      <div class="widget-img-holder">
        <img [src]="product.productImageModels[0].path | filePathFormatter"
          *ngIf="product.productImageModels.length > 0; else defaultImage"
          height="120px" 
          [alt]="product?.productModel?.name" />

        <ng-template #defaultImage>
          <img src="assets/images/products/2.png" 
            height="120px" 
            [alt]="product?.productModel?.name" />
        </ng-template>
      </div>
      <!-- Bookmark icon -->
      <button class="btn bookmark">
        <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
      </button>
    </div>
    <div class="text">
      <h5>{{ product?.productModel?.name | capitalize }}</h5>
      <p>
        <img class="svg" src="assets/images/icons/store.svg" height="10px" alt="Store">
        <span>{{ product?.productModel["productCategoryModel"]["name"] | capitalize }}</span>
      </p>
    </div>
  </div>
</a>