<ion-content>
  <main id="home-page" class="container with-bottom-menu bg-offwhite">

    <section id="header" class="constrain header-white" *ngIf="(userData$ | async) as userData">
      <h2>Hello {{ userData.person?.firstName?.trim() | capitalize }},</h2>
      <p class="rider-reviews" *ngIf="(riderRating$ | async) as riderRating">
        <!-- <img class="svg icon" alt="Icon" src="assets/images/icons/star.svg"> -->
        <i *ngFor="let star of [0, 1, 2, 3, 4]; index as i" 
          class="fa fa-star" 
          [ngClass]="{ 'fa-checked': i < riderRating?.rate }"></i>
          {{ riderRating?.rate || 0 | number: '1.0-2' }}
        <span *ngIf="riderRating?.reviewerCount > 1; else defaultReviewCount">
          ({{ riderRating?.reviewerCount || 0 }} Reviews)
        </span>
        <ng-template #defaultReviewCount>
          <span>
            ({{ riderRating?.reviewerCount || 0 }} Review)
          </span>
        </ng-template>
      </p>
    </section>
  
    <section id="cards" class="constrain">
      <a [routerLink]="['/rider', 'orders']"
        [queryParams]="{ type: productCartStatus.TRANSIT }"  
        class="card ongoing-orders">
        <img class="svg" src="assets/images/icons/riders/ongoing-orders.svg" height="80px">
        <p>Ongoing Orders</p>
      </a>
      <a [routerLink]="['/rider', 'orders']" 
        [queryParams]="{ type: productCartStatus.COMPLETED }"
        class="card order-history">
        <img class="svg" src="assets/images/icons/riders/order-history.svg" height="80px">
        <p>Order History</p>
      </a>
    </section>
  
    <section id="delivery-address" class="constrain">
      <app-no-content-found 
        *ngIf="!((riderDeliveryHistory$ | async)?.length > 0); else defaultTemplate">
      </app-no-content-found>

      <ng-template #defaultTemplate>
        <div class="section-title with-link">
          <h4>Recent Activities</h4>
          <a [routerLink]="['/rider', 'orders']" class="link link-primary">
            <span>View all</span>
            <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
          </a>
        </div>
    
        <div class="addresses constrain" *ngIf="(riderDeliveryHistory$ | async) as riderDeliveryHistory">
          <a class="address cursor-pointer" 
            [routerLink]="['/rider', fillInUrl(delivery.cart.status), delivery.cart?.id]"
            *ngFor="let delivery of riderDeliveryHistory  | sliceContent : 10">
            <div class="details">
              <!-- <h5>Home</h5> -->
              <h5 class="location-address">
                <img class="svg" src="assets/images/icons/map-pointer.svg" height="9px" alt="Store">
                <span>{{ delivery?.cart?.deliveryAddress | capitalize }}</span>
              </h5>
              <p class="name">
                <img class="svg" src="assets/images/icons/person.svg" height="9px" alt="Store">
                <span>
                  {{ delivery.person.firstName | uppercase }}
                  {{ delivery.person.lastName | uppercase }}
                </span>
              </p>
              <div class="bottom">
                <p class="phone">
                  <img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store">
                  <span>{{ delivery.person.phoneNo }}</span>
                </p>
                <p class="status completed" 
                  *ngIf="delivery?.cart?.status === productCartStatus.COMPLETED">
                  {{ delivery.cart.status | capitalize }}
                </p>
                <p class="status cancelled" 
                  *ngIf="delivery?.cart?.status === productCartStatus.CANCELLED">
                  {{ delivery.cart.status | capitalize }}
                </p>
                <p class="status transit" 
                  *ngIf="delivery?.cart?.status === productCartStatus.TRANSIT">
                  {{ delivery.cart.status | capitalize }}
                </p>
                <p class="status verified" 
                  *ngIf="delivery?.cart?.status === productCartStatus.VERIFIED">
                  {{ delivery.cart.status | capitalize }}
                </p>
              </div>
            </div>
            <span class="chevron-icon">
              <img class="svg" src="assets/images/icons/chevron-right.svg" height="20px" />
            </span>
            </a>
                
        </div>
      </ng-template>
    </section>
    <app-footer-expander></app-footer-expander>

    <app-rider-bottom-navbar></app-rider-bottom-navbar>
  </main>
</ion-content>
