<div class="business" [ngClass]="{ 'bookmarked': isBookmarked }">
  <div class="details h-grid">
    <a class="image cursor-pointer" (click)="viewProductDetail()">
      <img 
        [src]="searchResult?.productImageModels[0].path" height="85px" 
        [alt]="searchResult.productModel.name"
        *ngIf="searchResult?.productImageModels.length > 0; else defaultImage"/>
      <ng-template #defaultImage>
        <img src="assets/images/restaurants/kichi.png" height="85px" 
          [alt]="searchResult.productModel.name" />
      </ng-template>
    </a>
    <div class="text">
      <div class="h-grid first-row">
        <div class="v-grid">
          <a (click)="viewProductDetail()" class="cursor-pointer name">
            <h5>{{ searchResult.productModel.name | uppercase }}</h5>
          </a>
          <p>
            <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store" />
            <span>{{ searchResult.productModel.description }}</span>
          </p>
        </div>
        <!-- Bookmark-icon -->
        <button class="btn bookmark" (click)="addProductToBookmark()">
          <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
        </button>
      </div>
      <div class="h-grid second-row">
        <p class="reviews">
          <img class="svg icon" alt="" src="assets/images/icons/star.svg">
          <span>{{ searchResult.productRating | number }}</span>
        </p>
        <p class="reviews">
          <span>{{ searchResult.productCostModel.unitPrice | currency }}</span>
        </p>
        <p class="time" *ngIf="searchResult.productModel['merchantModel']['companyName']">
          {{ searchResult.productModel["merchantModel"]["companyName"] | uppercase }}
        </p>
      </div>
    </div>
  </div>
</div>