<app-user-bottom-navbar 
  *ngIf="userData.role === appRole.CUSTOMER; else defaultTemplate">
</app-user-bottom-navbar>
<ng-template #defaultTemplate>
  <app-rider-bottom-navbar></app-rider-bottom-navbar>
</ng-template>