<ion-content>
  <main id="track-order-page" class="container bg-offwhite">
    <section id="header" class="header-white">
      <div class="header-actions constrain">
        <a [routerLink]="['/user', 'orders']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
        <h4>Tracking on Map</h4>
      </div>
    </section>
  
    <section id="map" class="constrain" #mapSection>
      <!-- <img src="assets/images/others/rider-map.png" height="100px" alt="Restaurant Image" /> -->
    </section>
  
    <section id="track-order-popup" class="popup" [ngClass]="{ 'active': isPopupOpen }">
      <!-- This popup has 2 screens. The second one comes up immediately the user rates the driver.
      The class responsible for the switching is ".rated" You can switch by adding a ".rated" class to the popup-content section. It'll look like this: "popup-content rated" -->
      <form [formGroup]="addRiderRatingForm"
        (ngSubmit)="onSubmit()"
        class="popup-content" 
        [ngClass]="{ 'rated': noOfStarsSelected > 0 }">
        <!-- This button closes the popup, it has been implemented. -->
        <button type="button" class="close-popup" (click)="togglePopup()">
          <img class="svg" src="assets/images/icons/close-popup.svg" height="10px" alt="Close Popup">
        </button>
  
        <div class="tracking-details">
          <h5 class="title constrain">Your order will arrive in 5:35</h5>
  
          <div class="order constrain" *ngIf="(selectedCartById$ | async) as selectedCartById">
            <div class="image">
              <img [src]="selectedCartById?.productCheckouts[0]?.productImage | filePathFormatter" 
                height="95px" 
                *ngIf="selectedCartById?.productCheckouts[0]?.productImage"
                [alt]="selectedCartById?.productCheckouts[0]?.productName"  />
                <ng-template #defaultProductImage>
                  <img src="assets/images/restaurants/kfc.png" 
                    height="95px" 
                    [alt]="selectedCartById?.productCheckouts[0].productName"  />
                </ng-template>
            </div>
            <div class="details">
              <a class="name cursor-pointer">
                <h5>{{ selectedCartById?.productCheckouts[0].productName }}</h5>
              </a>
              <p class="id">
                <span>ID:</span> {{ selectedCartById.cartId }}
              </p>
              <p class="items">
                {{ selectedCartById?.productCheckouts?.length || 0 }} Item
              </p>
              <p class="status waiting">Waiting</p>
            </div>
          </div>
  
          <div class="rider constrain" *ngIf="(selectedCartRider$  | async) as selectedCartRider">
            <div class="image">
              <img [src]="selectedCartRider.person.passportUrl | filePathFormatter" 
                *ngIf="selectedCartRider.person.passportUrl; else defaultRiderImage"
                height="50px" 
                alt="Rider's Picture" />
                <ng-template #defaultRiderImage>
                  <img src="assets/images/humans/rider.png" 
                    height="50px" 
                    alt="Rider's Picture" />
                </ng-template>
            </div>
            <div class="details">
              <a class="name cursor-pointer">
                <h5>
                  {{ selectedCartRider.person.firstName | capitalize }}
                  {{ selectedCartRider.person.lastName | capitalize }}
                </h5>
              </a>
              <p class="reviews" *ngIf="(riderRating$ | async) as riderRating">
                <img class="svg icon" alt="star rating icon" src="assets/images/icons/star.svg">
                {{ riderRating.rate }}
                <span>({{ riderRating.reviewerCount }})</span>
              </p>
              <div class="contact">
                <!-- <a href="sms:+234{{ selectedCartRider.person.phoneNo }}&body={{ encodeTextMessageData(selectedCartRider.person.firstName) }}" class="sms btn">
                  <img class="svg icon" alt="sms icon" src="assets/images/icons/message.svg">
                </a> -->
  
                <a href="tel:+234{{ selectedCartRider.person.phoneNo }}" class="call btn">
                  <img class="svg icon" alt="phone icon" src="assets/images/icons/call.svg">
                </a>
              </div>
            </div>
          </div>
  
          <div class="trip constrain">
            <h5 class="title">TRIP</h5>
            <div class="order-timeline">
              <div class="timeline active">
                <div class="icon"></div>
                <h5>Order confirmation</h5>
                <h5 class="time">9:15 AM</h5>
              </div>
  
              <div class="timeline active">
                <div class="icon"></div>
                <h5>Rider at Restaurant</h5>
                <h5 class="time">10:05 AM</h5>
              </div>
  
              <div class="timeline inactive">
                <div class="icon"></div>
                <h5>Shipping</h5>
                <h5 class="time">12:35 PM</h5>
              </div>
  
              <div class="timeline end">
                <div class="icon"></div>
                <h5>Delivery to your address</h5>
                <h5 class="time">1:25 PM</h5>
              </div>
            </div>
          </div>
  
          <div class="rate-rider constrain" *ngIf="(selectedCartRider$  | async)?.person as person">
            <h4>Rate your rider</h4>
            <p>Your feedback will help us improve shipping experience better.</p>
            <div class="rating-stars">
              <i (click)="rateRider(i, person.firstName)" 
                *ngFor="let star of [0, 1, 2, 3, 4]; index as i" 
                class="fa fa-star cursor-pointer"
                [ngClass]="{ 'fa-checked': i < noOfStarsSelected }">
              </i>
            </div>
          </div>
        </div>
  
        <div class="rider-rated constrain">
          <a (click)="resetRiderRating()" class="back link cursor-pointer">
            <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
          </a>
          <div class="text">
            <h4>AWESOME!</h4>
            <p>You rated {{ riderFirstName }} {{ noOfStarsSelected }} stars</p>
          </div>
          <div class="rating-stars">
            <i *ngFor="let star of [0, 1, 2, 3, 4]; index as i" 
                class="fa fa-star cursor-pointer"
                [ngClass]="{ 'fa-checked': i < noOfStarsSelected }">
              </i>
          </div>
          
          <div class="compliments">
            <div class="checkbox" *ngFor="let quality of riderQualities">
              <input [id]="quality.id" 
                type="checkbox" 
                [value]="quality.key"
                [checked]="quality.value"
                (change)="onCheckboxChange($event)" />
              <span class="check"></span>
              <label [for]="quality.id">{{ quality.label }}</label>
            </div>
          </div>
          
          <textarea [formControlName]="'review'"
            placeholder="Do you want to say something about {{ riderFirstName }}?" 
            id="note"></textarea>
          <button type="submit" 
            [disabled]="addRiderRatingForm.invalid || (existingCartDeliveryFeedback$ | async)"
            class="btn btn-primary" 
            name="add-address">
            Complete
          </button>
        </div>
      </form>
    </section>

    <!-- <app-footer-expander></app-footer-expander>
    <app-rider-bottom-navbar></app-rider-bottom-navbar> -->
  </main>
</ion-content>
