<!-- 
          There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon on top of the product image.
        -->
        <div class="product bookmarked">
          <div class="details">
            <a class="image">
              <div class="widget-img-holder" (click)="viewProductDetail()">
                <img [src]="product.productImageModels[0]?.path" 
                  *ngIf="product.productImageModels.length > 0; else defaultImage"
                  height="120px" 
                  [alt]="product?.productModel?.name" />

                <ng-template #defaultImage>
                  <img src="assets/images/products/1.png" height="120px" [alt]="product?.productModel?.name" />
                </ng-template>
              </div>
              <button class="btn bookmark" (click)="addProductToBookmark(product.productModel?.id)">
                <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
              </button>
            </a>
            <div class="text">
              <a (click)="viewProductDetail()" class="name">{{ product?.productModel?.name | uppercase }}</a>
              <p>
                <span class="price">{{ product?.productCostModel.unitPrice | currency }}</span>
  
                <!-- Clicking the button below brings up the Add to Cart popup. -->
                <button type="button" class="btn add-to-cart" (click)="addToCart(product)">
                  <img class="svg" src="assets/images/icons/add.svg" height="18px" alt="Add to Cart">
                </button>
              </p>
            </div>
          </div>
        </div>