<ion-content>
  <main id="business-details-page" class="bg-offwhite container with-bottom-menu bookmarked">
	
    <!-- So this <section id="header"> has a backgroud image, I don't know if it's meant to be dynamic but I've left a link to the image in the inline style of the section.  -->
    <section id="header" class="constrain header-transparent-image"
      style="background: linear-gradient(0deg, rgba(34, 43, 69, 0.7), rgba(34, 43, 69, 0.7)), url(assets/images/banner/banner2.png);">
      
      <div class="header-actions">
        <a [routerLink]="['/user']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
        <!-- Bookmark icon -->
        <button type="button" class="btn bookmark" (click)="addMerchantToBookmark()">
          <img class="svg" 
            src="assets/images/icons/bookmark.svg" 
            height="18px" alt="Bookmark" />
        </button>
        <button type="button" class="link options">
          <img class="svg" src="assets/images/icons/options.svg" width="18px" alt="Options">
        </button>
      </div>
  
      <!-- This shows the name and address of the restaurant -->
      <div class="text" *ngIf="(selectedMerchant$ | async) as merchant">
        <h2 class="name">{{ merchant?.companyName | uppercase }}</h2>
        <p class="address">
          <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
          <span>{{ merchant?.address | uppercase }}</span>
        </p>
        <p class="reviews">
          <img class="svg icon" alt="" src="assets/images/icons/star.svg">
          <b>{{ merchant?.rate | number : '1.1-3' }}</b>
          <span>({{ merchant?.ratingCount || 0 }} Reviews)</span>
        </p>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>

    <!-- 
      This is the tab buttons.
      When you click the buttons they activate the selected tab, clicking it also adds a ".active" class to both the button of the tab and the tab content.
      I have already implemented it using javascript.
    -->
    <section id="tabs" class="constrain">
      <button class="tab" 
        [ngClass]="{ 'active': activeTab === 'PRODUCT' }" 
        (click)="switchTab('PRODUCT')"><span>Products</span>
      </button>
      <button class="tab" 
        [ngClass]="{ 'active': activeTab === 'REVIEW' }"
        (click)="switchTab('REVIEW')"><span>Reviews</span>
      </button>
      <button class="tab"
        [ngClass]="{ 'active': activeTab === 'INFORMATION' }"
        (click)="switchTab('INFORMATION')"><span>Information</span></button>
    </section>
  
    <!-- Tab content -->
    <!-- This is the Products tab -->
    <section id="products" class="tab-content" [ngClass]="{ 'active': activeTab === 'PRODUCT' }">
      <div class="section-title with-link constrain">
        <h4>Popular Items</h4>
        <a [routerLink]="['/user', 'merchant-products', merchantId]" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>

      <swiper
        *ngIf="(selectedMerchantHotSaleProducts$ | async) as selectedMerchantHotSaleProducts"
        [ngClass]="['products', 'constrain']"
        [slidesPerView]="'auto'"
        [spaceBetween]="15"
        [centeredSlides]="false"
        [loop]="true"
        [autoplay]="{ delay: 2500, disableOnInteraction: true }">
        <ng-template swiperSlide *ngFor="let product of selectedMerchantHotSaleProducts | sliceContent : 8">
          <app-merchant-hot-sale-product 
            (viewProductDetailEvent)="openProductDetail($event, product)"
            (addProductToBookmarkEvent)="addProductToBoomkark($event)"
            (addToCartEvent)="addProductToCart($event)"
            [product]="product">
        </app-merchant-hot-sale-product>
        </ng-template>
      </swiper>
  
      <div class="product-categories-container" *ngIf="(productCategoryGroup$ | async) as productCategoryGroups">
        <div id="product-categories" *ngFor="let productCategoryGroup of productCategoryGroups">
          <div class="section-title constrain">
            <h5>{{ productCategoryGroup.productCategoryModel?.name | uppercase }} 
              <span>{{ productCategoryGroup?.productDetailModel.length || 0 }} items</span>
            </h5>
          </div>
    
          <!-- 
            There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon.
          -->
         <app-product-category-widget
          (viewProductDetailEvent)="openProductDetail($event, product)"
          (addToCartEvent)="addProductToCart($event)"
          (addProductToBookmarkEvent)="addProductToBoomkark($event)"
          [product]="product" 
          *ngFor="let product of productCategoryGroup?.productDetailModel | sliceContent : 8">
        </app-product-category-widget>
        </div>
      </div>
      
    </section>
  
    <app-add-to-cart 
      *ngIf="openCartModal"
      [product]="productAddedToCart"
      [productImages]="productAddedToCartImages"
      [userId]="userId"
      [show]="openCartModal"
      (closeAddToCartModalEvent)="closeCartModal()">
    </app-add-to-cart>
  
    <!-- Tab content -->
    <!-- This is the Reviews tab -->
    <section id="reviews" class="tab-content constrain" [ngClass]="{ 'active': activeTab === 'REVIEW' }">
  
      <!-- <div class="section-title with-link">
        <h4>Photos & Videos</h4>
        <a href="#" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div> -->
      
      <!-- These are the photos from ratings. -->
      <!-- <div class="review-media">
        <a href="#" class="media"><img src="assets/images/products/14.png" height="70px" alt="Review Media"></a>
        <a href="#" class="media"><img src="assets/images/products/15.png" height="70px" alt="Review Media"></a>
        <a href="#" class="media"><img src="assets/images/products/16.png" height="70px" alt="Review Media"></a>
        <a href="#" class="media"><img src="assets/images/products/17.png" height="70px" alt="Review Media"></a>
        <a href="#" class="media"><img src="assets/images/products/18.png" height="70px" alt="Review Media"></a>
      </div> -->
  
      <!-- Star Ratings -->
      <div class="star-ratings">
        <h4>Rate</h4>
        <div class="ratings">
          <div class="stars">
            <i *ngFor="let star of [0, 1, 2, 3, 4]; index as i" 
              class="fa fa-star add-rating" 
              [ngClass]="{ 'fa-checked': i < noOfStarsSelected }"
              (click)="addStarRating(i + 1)"></i>
          </div>
        </div>
      </div>
      <div class="ratings caption-form constrain" *ngIf="openCaptionForm">
        <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
         <div class="form-row">
              <div>
                <textarea [formControlName]="'Caption'"
                  class="resize-none"
                  rows="5"
                  placeholder="Caption (Optional) 350 character limit"
                  maxlength="350">
                </textarea>
              </div>
          </div>

          <div></div>

          <div class="form-row">
              <button type="submit" 
                [disabled]="ratingForm.invalid" 
                class="btn btn-primary" name="sign-in">
                Submit
              </button>
          </div>
        </form>
      </div>

      <!-- <div class="star-ratings">
        <h4>Rate</h4>
        <div class="ratings">
          <div class="rating star-5"> -->
            <!-- This is the number of reviews with 5 stars -->
            <!-- <span>99+</span>
            <div class="stars">
              <i class="fa fa-star fa-checked"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star checked"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star checked"></i>
            </div>
          </div> -->
          
          <!-- <div class="rating star-4">
            <span>56</span>
            <div class="stars">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
            </div>
          </div>
          
          <div class="rating star-3">
            <span>45</span>
            <div class="stars">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
            </div>
          </div> -->
          
          <!-- <div class="rating star-2">
            <span>12</span>
            <div class="stars">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
            </div>
          </div> -->
        
          <!-- <div class="rating star-1">
            <span>5</span>
            <div class="stars">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
              <img class="svg" src="assets/images/icons/star.svg" height="12px" alt="Star">
            </div>
          </div> -->
        <!-- </div>
      </div> -->
  
      <!-- Ratings -->
      <div class="comment-container" *ngIf="(selectedMerchantReviews$ | async) as selectedMerchantReviews">
        <div class="comments" *ngIf="selectedMerchantReviews?.length > 0">
          <app-rating-comment 
            [merchantReview]="review"
            *ngFor="let review of selectedMerchantReviews">
          </app-rating-comment>
        </div>
      </div>
    </section>
    
    <!-- Tab content -->
    <section id="information" class="tab-content" [ngClass]="{ 'active': activeTab === 'INFORMATION' }">
      <div class="v-grid constrain" *ngIf="(selectedMerchant$ | async)?.description">
        <h5 class="title">Information</h5>
        <p>{{ (selectedMerchant$ | async)?.description | capitalize }}</p>
      </div>
  
      <div class="v-grid constrain">
        <h5 class="title">Address</h5>
        <div class="map" #mapCanvas></div>
      </div>
    </section>

    <app-footer-expander></app-footer-expander>
    </main>
</ion-content>
