<div class="business" [ngClass]="{ 'bookmarked': isBookmarked }">
  <a [routerLink]="['/user', 'nearby', 'business-detail', merchant.id]" class="image">
    <img src="assets/images/restaurants/kichi.png" 
      height="85px" 
      [src]="merchant.logo | filePathFormatter"
      *ngIf="merchant.logo; else defaultImage"
      [alt]="merchant?.companyName | uppercase" />

    <ng-template #defaultImage>
      <img src="assets/images/restaurants/kichi.png" 
      height="85px" 
      [alt]="merchant?.companyName | uppercase" />
    </ng-template>
  </a>
  <div class="details">
    <a [routerLink]="['/user', 'nearby', 'business-detail', merchant.id]" class="name">
      <h5>{{ merchant?.companyName | uppercase }}</h5>
    </a>

    <!-- Bookmark icon -->
    <button class="btn bookmark" (click)="addBookmark(merchant)">
      <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
    </button>
    <p class="address">
      <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
      <span>{{ merchant.address | uppercase }}</span>
    </p>
    
    <div class="bottom">
      <p class="reviews">
        <img class="svg icon" alt="Rating Icon" src="assets/images/icons/star.svg">
        <b>{{ merchant?.rate | number : '1.1-1' }}</b>
        <span>({{ merchant?.ratingCount || 0 }} Reviews)</span>
      </p>

      <p class="time"><span>•</span> {{ merchant?.distance | number : '1.1-1' }} Km away</p>
      <!-- <p class="time">30 Min <span>•</span> {{ merchant?.distance }} Km</p> -->
    </div>
  </div>
</div>
<app-footer-expander *ngIf="currentIndex === arrayLength"></app-footer-expander>