<ion-content>
  <main id="order-information-page" class="container">
      <!-- Wrapping everything in a form so it can be submitted to the database. -->
        <section id="header" class="constrain header-white">
          <a [routerLink]="['/rider', 'order-info', cartId]" class="back link">
            <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
          </a>
          <div class="text">
            <h2 class="title mb-2">Confirm Payment</h2>
          </div>
        </section>

        <section id="login-form" class="constrain">
          <form [formGroup]="paymentConfirmationForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                  <div class="input-password">
                    <select class="hide-shadow" [formControlName]="'paymentMethod'">
                      <option value="" selected>Select Payment method</option>
                      <option
                        [value]="selection.value" 
                        *ngFor="let selection of paymentOptionSelection; index as i">
                        {{ selection.key }}
                      </option>
                    </select>
                     <p class="margin-xs" 
                          *ngIf="paymentConfirmationForm.get('paymentMethod').invalid && paymentConfirmationForm.get('paymentMethod').touched">
                          <span class="error-message-block" 
                              *ngIf="paymentConfirmationForm.get('paymentMethod').errors['required']">
                              This field is required
                          </span>
                      </p>
                  </div>
              </div>

              <p class="margin-xs mt-0" style="width: 100%; display:block;"></p>
              <div class="form-row">
                  <button type="submit" 
                    [disabled]="paymentConfirmationForm.invalid" 
                    class="btn btn-primary">
                    Confirm
                  </button>
              </div>
          </form>
      </section>
  </main>
</ion-content>
