<!-- This is a rating with everything: star rating, comment, and media. -->
<div class="comment">
  <!-- Image of the reviewer -->
  <div class="user-image">
    <img [src]="merchantReview?.user.person?.passportUrl | filePathFormatter" 
      height="40px" 
      [alt]="fullName"
      *ngIf="merchantReview?.user.person.passportUrl; else defaultImage" />

    <ng-template #defaultImage>
      <img src="assets/images/humans/1.png" height="40px" [alt]="fullName" />
    </ng-template>
  </div>
  <div class="details">
    <h5 class="name">{{ fullName | uppercase }}</h5>

    <!-- 
      The number of stars will be changed to 3 stars when you change "--rating: 5;" to "--rating: 3; in the inline styling below. It can also be in decimal format to have precise ratings."
    -->
    <div class="stars" 
      [style]="styleString" 
      [attr.aria-label]="ariaLabel">
    </div>
    
    <p class="date">{{ merchantReview?.dateCreated | date : 'mediumDate' }}</p>
    <p class="note" 
      *ngIf="merchantReview?.review && merchantReview?.review !== ''">
      {{ merchantReview?.review | capitalize }}
    </p>
    <!-- <div class="comment-media">
      <a href="#" class="media"><img src="assets/images/products/16.png" height="70px" alt="Review Media"></a>
    </div> -->
  </div>
</div>