<!-- <a [routerLink]="['/user/', 'orders', 'track-order']" 
    [queryParams]="{ cartId: cart?.cartId, status: productCartStatus.CANCELLED }"
    class="order">
  <div class="image">
    <img src="assets/images/restaurants/kichi.png" 
      height="95px" 
      [alt]="cart?.dateCreated | date : 'short'" />

      <ng-template #defaultImage>
        <img src="assets/images/restaurants/kichi.png" 
          height="95px" 
          [alt]="cart?.dateCreated | date : 'short'" />
      </ng-template>
  </div>
  <div class="details">
    <h5 class="name">{{ cart?.dateCreated | date : 'short' }}</h5>
    <p class="address">
      <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
      <span>{{ cart?.deliveryAddress | capitalize }}</span>
    </p>
    <p class="items">
     {{ cart.productCheckouts?.length || 0 }} Item
    </p>
  </div>
</a> -->

<a [routerLink]="['/user', 'orders', 'order-info']"
[queryParams]="{ cartId: cart?.cartId, status: productCartStatus.CANCELLED }"  class="order">
  <div class="image">
    <img [src]="getProductImageToPreview(cart.productCheckouts) | filePathFormatter" 
      *ngIf="getProductImageToPreview(cart.productCheckouts); else defaultImage"
      height="95px" 
      [alt]="cart?.dateCreated | date : 'short'" />

    <ng-template #defaultImage>
      <img src="assets/images/restaurants/kichi.png" 
        height="95px" 
        [alt]="cart?.dateCreated | date : 'short'" /> 
    </ng-template>
  </div>
  <div class="details">
    <h5 class="name">{{ cart?.dateCreated | date : 'short' }}</h5>
    <p class="items">
      {{ cart.productCheckouts?.length || 0 }} Items
    </p>
    <p class="date">{{ cart?.dateCreated | date : 'short' }}</p>
  </div>
</a>