<ion-content>
  <main id="search-results-page" class="bg-offwhite container with-bottom-menu">

    <section id="search" class="header-primary">
      <div class="header">
        <div class="search-box constrain">
          <form [formGroup]="searchForm" id="search-form" (ngSubmit)="onSubmit()" class="input-with-icon">
            <input 
              [formControlName]="'SearchTerm'" 
              type="search" 
              id="search-input" 
              placeholder="What are you searching for?" />
            <button type="submit" class="btn">
              <img class="svg" src="assets/images/icons/search.svg" height="10px" alt="Search" />
            </button>
          </form>
          <a (click)="clearSearchTerm()" class="btn close-search cursor-pointer">
            <img class="svg" src="assets/images/icons/filter.svg" height="15px" alt="Filter">
            <p>Exit</p>
          </a>
        </div>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>

    <!-- The number of results is supposed to be dynamic. -->
    <h6 class="constrain number-of-results">Approximately <span>{{ (searchResults$ | async)?.length || 0 }}</span> result(s)</h6>
  
    <section id="search-results" 
      class="constrain" 
      *ngIf="(searchResults$ | async) as searchResults">
      <!-- 
        There's a ".bookmarked" class on the search results that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon on top of the result's logo.
      -->
      <app-search-results-widget 
        (addProductToBookmarkType)="addProductToBookmark($event, searchResult)"
        (viewProductDetailEvent)="openProductDetail($event, searchResult)"
        *ngFor="let searchResult of searchResults" 
        [searchResult]="searchResult"></app-search-results-widget>
    </section>
  </main>
</ion-content>
