<ion-content>
  <main id="create-new-account-page" class="bg-offwhite container">
    <section id="header" class="constrain">
        <div class="navigation">
            <a [routerLink]="['/auth', 'login']" class="back">
                <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
            </a>
        </div>
    </section>

    <section id="heading-text" class="constrain">
        <h1 class="title">Update Account Details</h1>
    </section>

    <section id="create-new-account-form" class="constrain">
        <form [formGroup]="updateFacebookDataForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div>
                    <input type="email" 
                        placeholder="Email" 
                        name="email" 
                        [formControlName]="'Email'" />
                    <p class="margin-xs" 
                            *ngIf="updateFacebookDataForm.get('Email').invalid && updateFacebookDataForm.get('Email').touched">
                        <span class="error-message-block" 
                            *ngIf="updateFacebookDataForm.get('Email').errors['required']">
                            This field is required
                        </span>
                        <span class="error-message-block" 
                            *ngIf="updateFacebookDataForm.get('Email').errors['email']">
                            Must be a valid email
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="tel" 
                        placeholder="Phone Number" 
                        [formControlName]="'PhoneNumber'" />
                    <p class="margin-xs" 
                        *ngIf="updateFacebookDataForm.get('PhoneNumber').invalid && updateFacebookDataForm.get('PhoneNumber').touched">
                        <span class="error-message-block" 
                            *ngIf="updateFacebookDataForm.get('PhoneNumber').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <textarea 
                        class="resize-none"
                        [formControlName]="'Location'" 
                        placeholder="Your Location"></textarea>
                    <p class="margin-xs" 
                        *ngIf="updateFacebookDataForm.get('Location').invalid && updateFacebookDataForm.get('Location').touched">
                        <span class="error-message-block" 
                            *ngIf="updateFacebookDataForm.get('Location').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div></div>

            <div class="form-row">
                <button type="submit" 
                    class="btn btn-primary" 
                    [disabled]="updateFacebookDataForm.invalid">
                    Submit
                </button>
            </div>
        </form>
    </section>
  </main>
</ion-content>
