<a (click)="viewProductDetail()" class="product">
  <div class="image">
    <img [src]="product?.productImageModels[0]?.path | filePathFormatter" 
      height="60px" 
      [alt]="product?.productModel.name" 
      *ngIf="product?.productImageModels.length > 0; else defaultImage" />

    <ng-template #defaultImage>
      <img src="assets/images/products/4.png" />
    </ng-template>
  </div>
  <div class="text">
    <p class="name">{{ product?.productModel.name | capitalize }}</p>
    <p class="price">
      <b>{{ product.productCostModel.unitPrice | currency }}</b>
    </p>
  </div>
</a>