<ion-content>
  <main id="payment-methods-page" class="container with-bottom-menu bg-offwhite">
    <section id="header" class="constrain header-white">
      <div class="header-actions">
        <a [routerLink]="['/profile', 'edit-profile']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
        </a>
        <button class="link edit">Edit</button>
      </div>

      <h2>Payment Methods</h2>
    </section>

    <section id="payment-methods">
      <form action="" class="cards constrain">
        <!-- If the Visa Card option is selected, add a ".visa" class to the div below.
          If it's a Mastercard, add a ".mastercard" class instead.
          The classes are in charge of switching the image. (There's no "src" attribute. The classes are changing the source from the CSS.)  -->
        <div class="card visa">
          <div class="image">
            <!-- This is the card image that changes when the class changes. -->
            <img class="svg" width="40px" alt="Card Image">
          </div>
          <div class="details">
            <h5 class="number">**** **** *325</h5>
            <p class="date">Jun 10, 2020</p>
          </div>
          <!-- This is the radio button -->
          <label class="radio">
            <input name="card" id="mastercard" type="radio" checked>
            <span class="check"></span>
          </label>
        </div>

        <div class="card mastercard">
          <div class="image">
            <img class="svg" width="40px" alt="Card Image">
          </div>
          <div class="details">
            <h5 class="number">**** **** *153</h5>
            <p class="date">Jun 10, 2020</p>
          </div>
          <label class="radio">
            <input name="card" id="mastercard" type="radio">
            <span class="check"></span>
          </label>
        </div>

        <div class="card visa">
          <div class="image">
            <img class="svg" width="40px" alt="Card Image">
          </div>
          <div class="details">
            <h5 class="number">**** **** *894</h5>
            <p class="date">Jun 10, 2020</p>
          </div>
          <label class="radio">
            <input name="card" id="mastercard" type="radio">
            <span class="check"></span>
          </label>
        </div>
      </form>
    </section>

    <section id="new-payment-method">

      <h2 class="constrain">Add Payment Methods</h2>
      
      <form action="" id="credit-card-info" class="constrain">
        <div class="form-row">
          <!-- If the Visa Card option is selected, add a ".visa" class to the div below.
          If it's a Mastercard, add a ".mastercard" class instead.
          The classes are in charge of switching the image. (There's no "src" attribute. The classes are changing the source from the CSS.)  -->
          <div class="select visa">
            <div class="image">
              <!-- This is the card image that changes when the class changes. -->
              <img class="svg" height="15px">
            </div>
            <select name="card-type" id="card-type">
              <option value="visa">Visa Card</option>
              <option value="mastercard">Mastercard Card</option>
            </select>
            <div class="chevron-icon">
              <img class="svg" src="assets/images/icons/chevron-down.svg" height="7px" alt="Select">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div>
            <input class="card-number" maxlength="19" name="credit-number" pattern="\d*" placeholder="Card Number" type="tel" />
          </div>
        </div>

        <div class="form-row">
          <div>
            <input class="card-expiry-date" maxlength="7" name="credit-expires" pattern="\d*" placeholder="MM / YY" type="tel" />
          </div>

          <div>
            <input class="cvv" maxlength="4" name="credit-cvc" pattern="\d*" placeholder="CVV" type="tel" />
          </div>
        </div>

        <div class="form-row">
          <button type="submit" class="btn btn-primary" name="complete">Complete</button>
        </div>
      </form>
    </section>

    <app-footer-expander></app-footer-expander>
    
    <app-conditional-bottom-navbar
      *ngIf="userDataFromLocalStorage"
      [userData]="userDataFromLocalStorage">
	  </app-conditional-bottom-navbar>

    <script>
      // FOR THE TABS
      function openTab(evt, tabTitle) {
        // Declare all variables
        var i, tabcontent, tab;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        // // Get all elements with class="tab" and remove the class "active"
        tab = document.getElementsByClassName("tab");
        for (i = 0; i < tab.length; i++) {
          tab[i].className = tab[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabTitle).style.display = "block";
        evt.currentTarget.className += " active";
      }

      $(document).ready(function () {

        // Set up formatting for Credit Card fields
        $('#credit-card-info .card-number').formatCardNumber();
        $('#credit-card-info .card-expiry-date').formatCardExpiry();
        $('#credit-card-info .cvv').formatCardCVC();

        $('body.with-bottom-menu').css({
          'padding-bottom': $('#bottom-menu').height() + "px"

        });
      });
    </script>
  </main>
</ion-content>
