<ion-card>
  <ion-card-content>
    <img src="../../../assets/undraw_No_data_re_kwbl.svg" alt="No content found">
  </ion-card-content>
  <ion-card-header>
    <h2 class="text-center">No content</h2>
  </ion-card-header>
</ion-card>