ion-card-content {
    height: 300px;

    img {
        width: 100%;
        height: 100%;
    }
}

ion-card-header{
    h2 {
        padding-top: 30px;
        text-align: center;
        font-weight: 400;
        color: #fa6400;
        letter-spacing: 1px;
        line-height: 35px;
        font-size: 25px;
        text-shadow: 1px 1px #ddd;
    }
}