main {
    width: 20%;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 20px;

    p {
        background: #DEDEDE;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        width: 50px;
        height: 50px;
        padding: 13px 8px 8px 8px;
        border-radius: 100%;
    }

    p:hover {
        background: whitesmoke;
    }

    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }
      
    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }
    
    #lblCartCount {
        font-size: 12px;
        background: #FAA078;
        color: #000;
        padding: 2px 5px;
        vertical-align: top;
        margin-left: -10px; 
    }
    
    .cart-icon {
        font-size: 24px;
        color: #000 !important;
    }
}