<a class="cursor-pointer" [routerLink]="['/user', 'product-cart']">
  <main id="main-2">
    <p class="text-right cursor-pointer">
      <i class="fa cart-icon">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'>{{ itemCount || 0 }}</span>
    </p>
  </main>
</a>