<ion-content>
    <main id="favourites-page" class="container with-bottom-menu bg-offwhite">
        <section id="header" class="constrain header-white">
            <div class="text">
                <h2 class="name">Favourites</h2>
            </div>
        </section>
        
        <!-- This is that menu at the bottom of every page -->
        <app-user-bottom-navbar></app-user-bottom-navbar>
    
        <!-- 
            This is the tab buttons.
            When you click the buttons they activate the selected tab, clicking it also adds a ".active" class to both the button of the tab and the tab content.
            I have already implemented it using javascript.
        -->
        <section id="tabs" class="constrain">
            <button class="tab" 
                [ngClass]="{ 'active': activeTabType === 'PRODUCT' }" 
                (click)="switchTabs('PRODUCT')">
                <span>Products</span>
            </button>
            <button class="tab" 
                [ngClass]="{ 'active': activeTabType === 'MERCHANT' }" 
                (click)="switchTabs('MERCHANT')">
                <span>Merchants</span>
            </button>
        </section>
    
        <!-- Tab content -->
        <!-- This is the Foods tab -->
        <section id="foods" class="tab-content category active" *ngIf="activeTabType === 'PRODUCT'">
            <div class="favourites constrain" *ngIf="(favouriteProducts$ | async)?.length > 0; else defaultTemplate">
                <app-favorite-food-widget 
                    (viewProductDetailEvent)="openProductDetail($event, product)"
                    [product]="product"
                    *ngFor="let product of (favouriteProducts$ | async)">
                </app-favorite-food-widget>
            </div>
        </section>
    
        <!-- Tab content -->
        <!-- This is the Restaurants tab -->
        <section id="restaurants" class="tab-content category active" *ngIf="activeTabType === 'MERCHANT'">
            <div class="favourites constrain" *ngIf="(favouriteMerchants$ | async)?.length > 0; else defaultTemplate">
                <app-favorite-resturant-widget 
                    *ngFor="let merchant of (favouriteMerchants$ | async); index as i"
                    [merchant]="merchant"
                    (addToBookmark)="addMerchantToBookmark($event)">
                </app-favorite-resturant-widget>
            </div>
        </section>

        <ng-template #defaultTemplate>
            <app-no-content-found></app-no-content-found>
        </ng-template>

        <app-footer-expander></app-footer-expander>
    </main>
</ion-content>