<ion-content>
  <main id="address-page" class="container with-bottom-menu bg-offwhite">
	<section id="header" class="constrain header-white">
		<div class="header-actions">
			<a [routerLink]="['/profile']" class="back link">
				<img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
			</a>
		</div>
		<h2>Address</h2>
	</section>

	<section id="delivery-address">
		<div class="addresses constrain">
			<!-- This is an address -->
			<main *ngIf="(userData$ | async) as userData">
				<a class="address cursor-pointer" *ngIf="userData?.person.address">
					<div class="details">
						<h5>Home</h5>
						<h5 class="location-address">
							<img class="svg" src="assets/images/icons/map-pointer.svg" height="9px" alt="Store">
							<span>{{ userData?.person.address | uppercase }}</span>
						</h5>
						<p class="name">
							<img class="svg" src="assets/images/icons/person.svg" height="9px" alt="Store">
							<span>
								{{ userData?.person.firstName | uppercase }}
								{{ userData?.person.lastName | uppercase }}
							</span>
						</p>
						<p class="phone">
							<img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store">
							<span>{{ userData?.person.phoneNo }}</span>
						</p>
					</div>
					<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
				</a>
			</main>

			<!-- This is an address -->
			<!-- <a href="#" class="address">
				<div class="details">
					<h5>Work</h5>
					<h5 class="location-address">
						<img class="svg" src="assets/images/icons/map-pointer.svg" height="9px" alt="Store">
						<span>23 White Boulevard</span>
					</h5>
					<p class="name">
						<img class="svg" src="assets/images/icons/person.svg" height="9px" alt="Store">
						<span>Joy Obianaba</span>
					</p>
					<p class="phone">
						<img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store">
						<span>+234 (803) 878 2933</span>
					</p>
				</div>
				<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
			</a> -->

			<!-- This is the button that adds a new address -->
			<a [routerLink]="['/profile', 'add-address']" class="btn">Add new Address</a>
			
		</div>
	</section>

	<app-conditional-bottom-navbar 
		[userData]="userDataFromLocalStorage">
	</app-conditional-bottom-navbar>
  </main>
</ion-content>
