<ion-content>
  <main id="orders-page" class="container with-bottom-menu bg-offwhite">
    <section id="header" class="constrain header-white">
      <div class="text">
        <h2 class="name">Orders</h2>
      </div>
    </section>

    <!-- 
      This is the tab buttons.
      When you click the buttons they activate the selected tab, clicking it also adds a ".active" class to both the button of the tab and the tab content.
      I have already implemented it using javascript.
    -->
    <section id="tabs" class="constrain">
      <button class="tab" 
        (click)="switchTabs(productCartStatus.TRANSIT)" 
        [ngClass]="{'active' : activeTabType === productCartStatus.TRANSIT }">
        <span>Ongoing</span>
      </button>
      <button class="tab"
        (click)="switchTabs(productCartStatus.COMPLETED)" 
        [ngClass]="{'active' : activeTabType === productCartStatus.COMPLETED }"><span>History</span></button>
    </section>
  
    <!-- Tab content -->
    <!-- The tabs have empty states already designed. You can display them by adding a ".empty" class to the tab-content section. It'll look like this: "tab-content empty". I've done this for the Ongoing tab already.  -->
    <!-- This is the Ongoing tab -->
    <section id="ongoing" 
      *ngIf="activeTabType === productCartStatus.TRANSIT" 
      class="tab-content active" [ngClass]="{ 'empty': !((ongoingDeliveries$ | async)?.length > 0) }">
      <div class="orders constrain" *ngIf="(ongoingDeliveries$ | async) as ongoingDeliveries">
        <app-rider-delivery-ongoing-widget
          [cart]="delivery"
          *ngFor="let delivery of ongoingDeliveries">
        </app-rider-delivery-ongoing-widget>
      </div>
  
      <!-- This is the empty state of the Ongoing tab -->
      <div class="empty-state constrain">
        <img src="assets/images/others/idle-rider.png" height="300px" alt="Idle Rider" />
  
        <div class="text">
          <h2>Ongoing is Empty</h2>
          <p>You have no active orders.</p>
        </div>
        <a (click)="goBackHistory()" class="btn btn-primary cursor-pointer">Go Back</a>
      </div>
    </section>
  
    <!-- Tab content -->
    <!-- This is the History tab -->
    <section id="history" 
      *ngIf="activeTabType === productCartStatus.COMPLETED" 
      class="tab-content active" 
      [ngClass]="{ 'empty': !((completedDeliveries$ | async)?.length > 0) }">
      <div class="orders constrain" *ngIf="(completedDeliveries$ | async) as completedDeliveries">
        <app-rider-delivery-history-widget 
          [cart]="delivery"
          *ngFor="let delivery of completedDeliveries">
        </app-rider-delivery-history-widget>
      </div>
  
      <div class="empty-state constrain">
        <img src="assets/images/others/idle-rider.png" height="300px" alt="Idle Rider" />
  
        <div class="text">
          <h2>History is Empty</h2>
          <p>You have no active orders.</p>
        </div>
        <a (click)="goBackHistory()" class="btn btn-primary cursor-pointer">Go Back</a>
      </div>
    </section>

    <app-footer-expander></app-footer-expander>
    <app-rider-bottom-navbar></app-rider-bottom-navbar>
  </main>
</ion-content>
