.display-flex {
    width: 100%;
    display: block;

    .flex-item {
        width: 50%;
        display: inline-block;
        padding: 30px 10px 20px 10px;
        text-align: center;

        .shadow-item {
            cursor: pointer;
            box-shadow: 0px 2px 10px #e6e8ef;
            background: #fff;
            padding: 20px 15px;

            h5 {
                margin-top: 15px;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 2px;
            }
        }

        .shadow-item:hover,
        .shadow-item:active {
            background: #fa6400;
            color: #fff;

            i,h5 {
                color: #fff;
            }
        }
    }

    .flex-item:nth-child(3),
    .flex-item:nth-child(4) {
        padding-top: 0;
    }
}

i {
    font-size: 30px;
    color: #000;
}