<ion-content>
  <main id="nearby-page" class="container with-bottom-menu bg-offwhite">
    <section class="header-area">
      <div class="header-section">
         <a backButton class="back link cursor-pointer">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
      </div>
      <div class="header-section">
        <div class="text">
          <h2 class="name">Make Payment</h2>
        </div>
      </div>
    </section>

    <div class="display-flex">
      <div class="flex-item">
        <div class="shadow-item" (click)="makePayment(paymentMethodType.CASH)">
         <i class="far fa-money-bill-alt"></i>
         <h5>Cash Payment</h5>
        </div>
      </div>

      <div class="flex-item" (click)="makePayment(paymentMethodType.POS)">
        <div class="shadow-item">
         <i class="far fa-money-bill-alt"></i>
         <h5>POS Payment</h5>
        </div>
      </div>

      <div class="flex-item">
        <div class="shadow-item" (click)="makePayment(paymentMethodType.TRANSFER)">
         <i class="far fa-money-bill-alt"></i>
         <h5>Transfer Payment</h5>
        </div>
      </div>

      <div class="flex-item" *ngIf="(processedCart$ | async)?.status === productCartStatus.VERIFIED">
        <div class="shadow-item" 
          angular4-paystack
          [email]="email"
          [amount]="((processedCart$ | async).total * 100)"
          [ref]="(processedCart$ | async)?.paymentInvoice"
          [channels]="['bank', 'card', 'ussd']"
          [class]="'btn btn-primary'"
          (close)="paymentCancel()"
          (callback)="paymentDone($event)">
         <i class="fas fa-credit-card"></i>
         <h5>Paystack Payment</h5>
        </div>
      </div>
    </div>
  </main>

  <app-user-bottom-navbar></app-user-bottom-navbar>
</ion-content>
