<div class="statistic">
  <div class="title">
    <h2 class="period">{{ graphLabel | capitalize }}</h2>
    <p class="duration">
      {{ graphData.startDate | date : 'mediumDate' }} - {{ endOfWeek(graphData.startDate) | date : 'mediumDate' }}
    </p>
  </div>
  <div class="chart data-is-full" #thisWeekStats></div>
</div>