<ion-content>

<main id="edit-profile-page" class="container with-bottom-menu bg-offwhite">
	<form (ngSubmit)="onSubmit()" [formGroup]="editProfileForm">
		<section id="header" class="constrain header-white">
			<div class="header-actions">
				<a [routerLink]="['/profile']" class="back link">
					<img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
				</a>
				<button type="submit" class="link save" [disabled]="editProfileForm.invalid">
					Save
				</button>
			</div>
		</section>

		<section id="display-picture" class="constrain">
			<div class="image">
				<img [src]="(userData$ | async)?.person.passportUrl | filePathFormatter"
					height="90px" 
					*ngIf="(userData$ | async)?.person.passportUrl"
					[alt]="(userData$ | async)?.username"
					#previewImage
					class="img-preview" />
				<img src="assets/images/humans/avatar.png" 
						height="90px" 
						*ngIf="!(userData$ | async)?.person.passportUrl"
						#previewImage
						[alt]="(userData$ | async)?.username"
						class="img-preview" />

				<!-- When the add-picture button is clicked, a file picker pops up and the image that is selected is supposed to replace the profile image.  -->
				<button type="button" class="add-picture btn">
					<label for="change-dp" class="change-dp">
						<!-- This is the image that should be replace when a user uploads a new one -->
						<img class="svg" 
							src="assets/images/icons/add1.svg" 
							width="30px" 
							alt="Add Picture">
					</label>
				</button>
				<!-- This is the input that handles the image upload. It's hidden. -->
				<input id="change-dp" 
					name="change-dp" 
					type="file" 
					accept="image/*" 
					(change)="onChange($event)"/>
			</div>
		</section>
	
		<section id="profile-settings">
				<div class="settings constrain">
					<a class="setting">
						<div class="details">
							<p class="title">First Name</p>
							<h5 class="name form-h5">
								<input [formControlName]="'FirstName'" 
									type="text" 
									class="borderless-input" 
									placeholder="Joy"/>
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('FirstName').invalid && editProfileForm.get('FirstName').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('FirstName').errors['required']">
									This field is required
								</span>
                    		</p>
						</div>
						<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
					</a>
		
					<a class="setting">
						<div class="details">
							<p class="title">Last Name</p>
							<h5 class="name form-h5">
								<input type="text" 
									[formControlName]="'LastName'" 
									class="borderless-input" 
									placeholder="Obianaba"/>
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('LastName').invalid && editProfileForm.get('LastName').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('LastName').errors['required']">
									This field is required
								</span>
                    		</p>
						</div>
						<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
					</a>
		
					<a class="setting">
						<div class="details">
							<p class="title">Password</p>
							<!-- This password is just a placeholder, it shouldn't be dynamic. -->
							<h5 class="name password form-h5">
								<input type="password" 
									class="name borderless-input" 
									placeholder=".........."
									[formControlName]="'Password'"  />
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('Password').invalid && editProfileForm.get('Password').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('Password').errors['required']">
									This field is required
								</span>
                    		</p>
						</div>
						<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
					</a>
		
					<a class="setting">
						<div class="details">
							<p class="title">Phone Number</p>
							<h5 class="name form-h5">
								<input type="tel" 
									placeholder="+234 (803) 878 2933"
									[formControlName]="'PhoneNumber'" 
									class="name borderless-input" />
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('PhoneNumber').invalid && editProfileForm.get('PhoneNumber').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('PhoneNumber').errors['required']">
									This field is required
								</span>
                    		</p>
						</div>
						<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
					</a>

					<input type="hidden" 
							[formControlName]="'Address'" 
							class="name borderless-input" />

					<a class="setting">
						<div class="details">
							<p class="title">Email</p>
							<h5 class="name form-h5">
								<input [formControlName]="'Email'" 
									placeholder="joyobianaba@example.com" 
									class="name borderless-input" />
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('Email').invalid && editProfileForm.get('Email').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('Email').errors['required']">
									This field is required
								</span><br/>
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('Email').errors['required']">
									This field must be an email address
								</span>
                    		</p>
						</div>
						<span class="chevron-icon">
							<img class="svg" src="assets/images/icons/chevron-right.svg" height="20px">
						</span>
					</a>
		
					<a class="setting">
						<div class="details">
							<p class="title">Date of Birth</p>
							<h5 class="name form-h5">
								<input type="text"
									class="name borderless-input"
									placeholder="Oct 24, 2000"
									[formControl]="editProfileForm.controls['DOB']"
									[ngxDatePicker]="dateInstanceSingle" 
									(valueChange)="onChangeSingle($event)" />
								<ngx-date-picker #dateInstanceSingle [options]="singleDatePickerOptions"></ngx-date-picker>
							</h5>
							<p class="margin-xs" 
                       			*ngIf="editProfileForm.get('DOB').invalid && editProfileForm.get('DOB').touched">
								<span class="error-message-block" 
									*ngIf="editProfileForm.get('DOB').errors['required']">
									This field is required
								</span>
                    		</p>
						</div>
						<span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
					</a>
				</div>                                                                                                                                                                                                                                                                                                                                                             
	
			<div class="footer-expander"></div>
		</section>
	</form>

	<app-conditional-bottom-navbar
		*ngIf="userDataFromLocalStorage"
		[userData]="userDataFromLocalStorage">
	</app-conditional-bottom-navbar>
  </main>
</ion-content>
