.form-h5 {
    .borderless-input {
        padding: 0;
        width: 100%;
        height: 20px;
        border: none !important;
        border-radius: 0;
    }
}

button:disabled {
    background: transparent;
    color: #ccc !important;
}