<a *ngIf="cart" 
  [routerLink]="['/rider', 'order-info', cart.cart.id]" class="order">
  <div class="image">
    <img src="assets/images/restaurants/kichi.png" height="95px" alt="kichi">
  </div>
  <div class="details">
    <h5 class="name">{{ cart.cart?.dateCreated | date : 'short' }}</h5>
    <p class="items">
      {{ cart?.orders?.length || 0 }} Items
    </p>
    <p class="date">{{ cart.cart?.dateCreated | date : 'short' }}</p>
  </div>
</a>