<ion-content>
  <main id="nearby-page" class="container with-bottom-menu bg-offwhite">
    <section class="header-area">
      <div class="header-section">
        <a backButton class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
        </a>
      </div>
      <div class="header-section" *ngIf="(product$ | async) as product">
        <div class="text">
          <h2 class="name">{{ product.productModel.name | capitalize }}</h2>
        </div>
      </div>
    </section>

    <section class="product-detail-area" *ngIf="(product$ | async) as product">
      <div *ngIf="product?.productImageModels.length > 0">
        <swiper id="productImage"
          *ngIf="product?.productImageModels?.length > 1; else defaultSingleProductImage"
          [slidesPerView]="'1'"
          [spaceBetween]="30"
          [centeredSlides]="false"
          [loop]="true"
          [autoplay]="{ delay: 2500, disableOnInteraction: true }">
          <ng-template swiperSlide *ngFor="let image of product.productImageModels">
            <ion-card>
              <ion-card-header>
                <button class="btn bookmark" (click)="addProductToBookmark(product.productModel.id)">
                  <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
                </button>
              </ion-card-header>
              <ion-card-content>
              <div class="img-area">
                <img [src]="image.path | filePathFormatter" [alt]="product.productModel.name" />
              </div>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </swiper>

        <ng-template #defaultSingleProductImage>
          <ion-card>
            <ion-card-header>
              <button class="btn bookmark" (click)="addProductToBookmark(product.productModel.id)">
                <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
              </button>
            </ion-card-header>
            <ion-card-content>
            <div class="img-area">
              <img [src]="product.productImageModels[0].path" [alt]="product.productModel.name" />
            </div>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </div>
   
       <article *ngIf="(product$ | async)?.productModel as productModel">
         <h1 class="title">{{ productModel.name | capitalize }}</h1>
         <span class="description">
           {{ productModel.description | capitalize }}
         </span>
       </article>
   
       <ion-item-group *ngIf="(product$ | async)?.productCostModel as productCostModel">
         <ion-item-divider>
           <ion-label color="danger">
             Product details
           </ion-label>
         </ion-item-divider>
         
         <ion-item>
           <ion-label>Price</ion-label>
           <ion-badge color="warning" slot="end">
             {{ productCostModel.unitPrice | currency }}
           </ion-badge>
         </ion-item>

         <ion-item>
          <ion-label>Rating</ion-label>
          <ion-label class="text-right">
            <i *ngFor="let star of [0, 1, 2, 3, 4]; index as i" 
              class="fa fa-star" 
              [ngClass]="{ 'fa-checked': i < (product$ | async).productRating }">
            </i>
          </ion-label>
        </ion-item>

         <ion-item lines="none">
          <ion-label>Total Orders</ion-label>
          <!-- <ion-label>Total Rating</ion-label> -->
          <ion-badge color="warning" slot="end">
            {{ (product$ | async)['noOfOrders'] }}
          </ion-badge>
          </ion-item>
   
         <br />
         <ion-grid>
           <ion-row>
             <ion-col size="12" class="ion-align-self-start text-right">
               <button type="button" class="btn btn-primary btn-block" (click)="addProductToCart(product)">
                 Add to cart
               </button>
             </ion-col>
           </ion-row>
           </ion-grid>
       </ion-item-group>
   
     </section>

     <app-footer-expander></app-footer-expander>
     <app-user-bottom-navbar></app-user-bottom-navbar>
  </main>

  <app-add-to-cart 
    *ngIf="openCartModal"
    [product]="productAddedToCart"
    [productImages]="productAddedToCartImages"
    [userId]="userId"
    [show]="openCartModal"
    (closeAddToCartModalEvent)="closeCartModal()">
  </app-add-to-cart>
</ion-content>