<ion-content>
  <main id="create-new-account-page" class="bg-offwhite container">
    <section id="header" class="constrain">
        <div class="navigation">
            <a [routerLink]="['/auth', 'login']" class="back">
                <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
            </a>
        </div>
    </section>

    <section id="heading-text" class="constrain">
        <h1 class="title">Create New Account</h1>
    </section>

    <section id="create-new-account-form" class="constrain">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div>
                    <input type="text" 
                        placeholder="First name" 
                        [formControlName]="'FirstName'" />
                        <p class="margin-xs" 
                            *ngIf="signUpForm.get('FirstName').invalid && signUpForm.get('FirstName').touched">
                            <span class="error-message-block" 
                                *ngIf="signUpForm.get('FirstName').errors['required']">
                                This field is required
                            </span>
                        </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text" 
                        placeholder="Last name" 
                        [formControlName]="'LastName'" />
                        <p class="margin-xs" 
                            *ngIf="signUpForm.get('LastName').invalid && signUpForm.get('LastName').touched">
                            <span class="error-message-block" 
                                *ngIf="signUpForm.get('LastName').errors['required']">
                                This field is required
                            </span>
                        </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="email" 
                        placeholder="Email" 
                        name="email" 
                        [formControlName]="'Email'" />
                    <p class="margin-xs" 
                            *ngIf="signUpForm.get('Email').invalid && signUpForm.get('Email').touched">
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('Email').errors['required']">
                            This field is required
                        </span>
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('Email').errors['email']">
                            Must be a valid email
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="password" 
                        placeholder="Password" 
                        [formControlName]="'Password'" />
                    <p class="margin-xs" 
                        *ngIf="signUpForm.get('Password').invalid && signUpForm.get('Password').touched">
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('Password').errors['required']">
                            This field is required
                        </span>
                    </p>
                        
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="tel" 
                        placeholder="Phone Number" 
                        [formControlName]="'PhoneNumber'" />
                    <p class="margin-xs" 
                        *ngIf="signUpForm.get('PhoneNumber').invalid && signUpForm.get('PhoneNumber').touched">
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('PhoneNumber').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <textarea 
                        class="resize-none"
                        [formControlName]="'Location'" 
                        placeholder="Your Location"></textarea>
                    <p class="margin-xs" 
                        *ngIf="signUpForm.get('Location').invalid && signUpForm.get('Location').touched">
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('Location').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text"
                        placeholder="Date of Birth" 
                        [ngxDatePicker]="dateInstanceSingle" 
                        (valueChange)="onChangeSingle($event)"
                        [formControlName]="'DOB'" />
                        <ngx-date-picker #dateInstanceSingle [options]="singleDatePickerOptions"></ngx-date-picker>
                    <p class="margin-xs" 
                        *ngIf="signUpForm.get('DOB').invalid && signUpForm.get('DOB').touched">
                        <span class="error-message-block" 
                            *ngIf="signUpForm.get('DOB').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div></div>

            <div class="form-row">
                <button type="submit" 
                    class="btn btn-primary" 
                    [disabled]="signUpForm.invalid">
                    Continue
                </button>
            </div>
        </form>
    </section>
  </main>
</ion-content>
