<div class="business">
  <a [routerLink]="['/user', 'category-products', productCategory.productCategory.id, productCategory.productCategory.name]" class="image">
    <img [src]="productCategory.productDetails[0].productImageModels[0].path | filePathFormatter" 
      height="85px" 
      *ngIf="productCategory.productDetails.length > 0 
        && productCategory.productDetails[0].productImageModels.length > 0; 
        else defaultImage"
      src="assets/images/restaurants/kichi.png" />

    <ng-template #defaultImage>
      <img src="assets/images/restaurants/kichi.png" 
      height="85px" />
    </ng-template>
  </a>
  <div class="details">
    <a [routerLink]="['/user', 'category-products', productCategory.productCategory.id, productCategory.productCategory.name]" class="name">
      <h5>{{ productCategory?.productCategory.name | capitalize }}</h5>
    </a>

    <!-- Bookmark icon -->
    <!-- <button class="btn bookmark">
      <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
    </button> -->
    <!-- <p class="address">
      <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
      <span>No, 5 fox road</span>
    </p> -->
    
    <div class="bottom">
      <p class="reviews">
        <!-- <img class="svg icon" alt="Rating Icon" src="assets/images/icons/star.svg">
        <b>3.0</b> -->
        <span>({{ productCategory?.productDetails.length || 0 }} Product(s))</span>
      </p>

      <!-- <p class="time">30 Min <span>•</span> 20 Km</p> -->
    </div>
  </div>
</div>