<ion-content>
  <main id="business-details-page" class="bg-offwhite container with-bottom-menu bookmarked">
	
    <!-- So this <section id="header"> has a backgroud image, I don't know if it's meant to be dynamic but I've left a link to the image in the inline style of the section.  -->
    <section id="header" class="constrain header-transparent-image"
      style="background: linear-gradient(0deg, rgba(34, 43, 69, 0.7), rgba(34, 43, 69, 0.7)), url(assets/images/banner/banner2.png);">
      
      <div class="header-actions">
        <a [routerLink]="['/user']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
        <!-- Bookmark icon -->
        <button type="button" class="btn bookmark" (click)="addMerchantToBookmark()">
          <img class="svg" 
            src="assets/images/icons/bookmark.svg" 
            height="18px" alt="Bookmark" />
        </button>
        <button type="button" class="link options">
          <img class="svg" src="assets/images/icons/options.svg" width="18px" alt="Options">
        </button>
      </div>
  
      <!-- This shows the name and address of the restaurant -->
      <div class="text" *ngIf="(selectedMerchant$ | async) as merchant">
        <h2 class="name">{{ merchant?.companyName | uppercase }}</h2>
        <p class="address">
          <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
          <span>{{ merchant?.address | uppercase }}</span>
        </p>
        <p class="reviews">
          <img class="svg icon" alt="" src="assets/images/icons/star.svg">
          <b>{{ merchant?.rate | number : '1.1-3' }}</b>
          <span>({{ merchant?.ratingCount || 0 }} Reviews)</span>
        </p>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>
  
    <!-- Tab content -->
    <!-- This is the Products tab -->
    <section id="products" class="tab-content active">
  
      <div class="product-categories-container" *ngIf="(productCategoryGroup$ | async) as productCategoryGroups">
        <div id="product-categories" *ngFor="let productCategoryGroup of productCategoryGroups">
          <div class="section-title constrain">
            <h5>{{ productCategoryGroup.productCategoryModel?.name | uppercase }} 
              <span>{{ productCategoryGroup?.productDetailModel.length || 0 }} items</span>
            </h5>
          </div>
    
          <!-- 
            There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon.
          -->
         <app-product-category-widget
          (viewProductDetailEvent)="openProductDetail($event, product)"
          (addProductToBookmarkEvent)="addProductToBoomkark($event)"
          [product]="product" 
          *ngFor="let product of productCategoryGroup?.productDetailModel">
        </app-product-category-widget>
        </div>
      </div>
      
    </section>
  
    <!-- 
      This is the popup that comes up when you click the add to cart button (the plus icon beside every product)
    -->
    <section id="addtocart-popup" class="popup">
      
      <div class="popup-content">
  
        <!-- This button closes the popup, it has been implemented. -->
        <button type="button" class="close-popup">
          <img class="svg" src="assets/images/icons/close-popup.svg" height="10px" alt="Close Popup">
        </button>
  
        <h5 class="title constrain">Add New Item</h5>
  
        <form action="">
        
          <div class="product-details constrain">
  
            <a href="#" class="image">
              <img src="assets/images/products/4.png" height="120px" alt="Fried Noodles Salad and Chicken Wings">
            </a>
  
            <div class="details">
  
              <a href="#" class="name">Lemon Juice Fresh</a>
  
              <p class="bag">
                <img class="svg icon" alt="" src="assets/images/icons/bag.svg">
                <span>99+</span>
              </p>
  
              <span class="line"></span>
  
              <p class="like">
                <img class="svg icon" alt="" src="assets/images/icons/like.svg">
                <span>26</span>
              </p>
  
              <h5 class="price">₦450</h5>
  
              <!-- 
                This plus and minus works
              -->
              <div class="quantity">
                <button type="button" class="minus btn"><img class="svg icon" alt="" src="assets/images/icons/minus.svg" height="30px"></button>
                <span class="value">0</span>
                <button type="button" class="plus btn"><img class="svg icon" alt="" src="assets/images/icons/plus.svg" height="30px"></button>
              </div>
  
            </div>
          </div>
  
          <div class="attribute-title">
            <div class="h-grid constrain">
              <p>Size</p>
              <p>Price</p>
            </div>
          </div>
  
          <div class="attributes constrain">
            <div class="h-grid">
              <div class="checkbox">
                <input id="size-s" type="checkbox">
                <span class="check"></span>
                <label for="size-s">Size S <span>(500 ml)</span></label>
              </div>
  
              <p class="price">₦0</p>
            </div>
  
            <div class="h-grid">
              <div class="checkbox">
                <input id="size-m" type="checkbox">
                <span class="check"></span>
                <label for="size-m">Size M <span>(750 ml)</span></label>
              </div>
  
              <p class="price">₦50</p>
            </div>
  
            <div class="h-grid">
              <div class="checkbox">
                <input id="size-l" type="checkbox">
                <span class="check"></span>
                <label for="size-l">Size L <span>(1100 ml)</span></label>
              </div>
  
              <p class="price">₦130</p>
            </div>
  
          </div>
  
          <div class="attribute-title">
            <div class="h-grid constrain">
              <p>Size</p>
            </div>
          </div>
  
          <div class="attributes constrain">
            <div class="h-grid">
              <div class="checkbox">
                <input id="lemon" type="checkbox">
                <span class="check"></span>
                <label for="lemon">Add Lemon</label>
              </div>
            </div>
  
            <div class="h-grid">
              <div class="checkbox">
                <input id="ice" type="checkbox">
                <span class="check"></span>
                <label for="ice">Add Ice</label>
              </div>
            </div>
          </div>
  
          <div class="note">
            <div class="title">
              <div class="h-grid constrain">
                <p>Note</p>
              </div>
            </div>
  
            <div class="constrain">
              <textarea name="note" placeholder="Leave a note" id="note"></textarea>
            </div>
          </div>
  
          <div class="constrain">
            <!-- This button submits this form. -->
            <button type="submit" class="big-cart-btn btn btn-primary">
              <p class="items">1 item</p>
              <p class="price">₦4,150</p>
              <p class="text">Add to Cart</p>
            </button>
          </div>
  
        </form>
      </div>
      <!-- <div class="popup-overlay"></div> -->
    </section>
    

    <app-footer-expander></app-footer-expander>
    </main>
</ion-content>
