<ion-content>
  <main id="profile-page" class="container with-bottom-menu bg-offwhite">
    <section id="header" class="constrain header-white">
      <div class="text">
        <h2 class="name">Profile</h2>
      </div>
  
      <a [routerLink]="['/profile', 'edit-profile']" 
        class="user-details" 
        *ngIf="(userData$ | async) as userData">
        <div class="image">
          <img [src]="userData.person.passportUrl | filePathFormatter"
             height="70px" 
             *ngIf="userData?.person?.passportUrl; else defaultImage"
             [alt]="userData.username" />
          <ng-template #defaultImage>
            <img src="assets/images/humans/1.png" height="70px" [alt]="userData.username">
          </ng-template>
        </div>
        
        <div class="details">
          <h3 class="name">
            {{ userData.person.firstName | uppercase }}
            {{ userData.person.lastName | uppercase }}
          </h3>
          <p>{{ userData?.person.phoneNo }}</p>
        </div>
        <img class="svg chevron-icon" src="assets/images/icons/chevron-right.svg" height="20px">
      </a>
    </section>
  
    <app-conditional-bottom-navbar 
      *ngIf="userDataFromLocalStorage"
      [userData]="userDataFromLocalStorage">
    </app-conditional-bottom-navbar>
  
    <section id="settings">
      <div class="setting-group constrain">
        <a [routerLink]="['/profile', 'payment-methods']" class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/payment.svg" width="16px"></span>
          <p class="name">Payment Methods</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a [routerLink]="['/profile', 'address']" class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/address.svg" width="16px"></span>
          <p class="name">Address</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/vouchers.svg" width="16px"></span>
          <p class="name">My Vouchers</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
      </div>
  
      <div class="setting-group constrain">
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/notifications.svg" width="16px"></span>
          <p class="name">Notifications</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/language.svg" width="16px"></span>
          <p class="name">Language</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/settings.svg" width="16px"></span>
          <p class="name">Settings</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/invite.svg" width="16px"></span>
          <p class="name">Invite Friends</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
  
        <a class="setting">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/support.svg" width="16px"></span>
          <p class="name">Support</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
      </div>
  
      <div class="setting-group constrain">
        <a (click)="logout()" class="setting cursor-pointer">
          <span class="icon"><img class="svg" src="assets/images/icons/profile/logout.svg" width="16px"></span>
          <p class="name">Logout</p>
          <span class="chevron-icon"><img class="svg" src="assets/images/icons/chevron-right.svg" height="20px"></span>
        </a>
      </div>
      <div class="footer-expander"></div>
    </section>
  </main>
</ion-content>
