<a [routerLink]="['/user', 'nearby', 'business-detail', favouriteMerchant.id]" class="restaurant">
  <div class="details bookmarked">
    <div class="image">
      <div class="widget-img-holder">
        <img [src]="favouriteMerchant?.logo | filePathFormatter" 
          height="120px" 
          [alt]="favouriteMerchant.companyName"
          *ngIf="favouriteMerchant?.logo; else defaultTemplate" />

        <ng-template #defaultTemplate>
          <img src="assets/images/restaurants/kfc.png" height="120px" [alt]="favouriteMerchant.companyName" />
        </ng-template>
      </div>
      
      <!-- Bookmark icon -->
      <button class="btn bookmark">
        <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
      </button>
    </div>
    <div class="text">
      <h5>{{ favouriteMerchant.companyName | capitalize }}</h5>
      <p>
        <img class="svg" 
          src="assets/images/icons/map-pointer.svg" 
          height="10px" 
          [alt]="favouriteMerchant.companyName" />
        <span>{{ favouriteMerchant.address | capitalize }}</span>
      </p>
    </div>
  </div>
</a>