<ion-content>
  <main id="business-details-page" class="bg-offwhite container with-bottom-menu bookmarked">
    <section id="header" class="constrain header-transparent-image"
    style="background: linear-gradient(0deg, rgba(34, 43, 69, 0.7), rgba(34, 43, 69, 0.7)), url(assets/images/banner/banner2.png);">

    
    <div class="header-actions">
      <a backButton class="back link cursor-pointer">
        <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
      </a>
    </div>

    <!-- This shows the name and address of the restaurant -->
      <div class="text">
        <h2 class="name">My Cart</h2>
        <p class="address" *ngIf="(productCartCount$ | async) as productCartCount">
          <i class="fa fa-shopping-cart"></i>
          <span *ngIf="productCartCount > 1; else defaultProductCount">
            {{ productCartCount }} Items
          </span>
          <ng-template #defaultProductCount>
            <span>{{ productCartCount }} Item</span>
          </ng-template>
        </p>
      </div>
    </section>

    <!-- Tab content -->
    <!-- This is the Products tab -->
    <section id="products" class="tab-content active" 
      *ngIf="(productCart$ | async) as productCart">
      <div id="product-categories">
        <div class="section-title constrain">
          <h5>My Cart <span>{{ (productCartCount$ | async) || 0 }} items</span></h5>
        </div>
  
        <!-- 
          There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon.
        -->
        <div class="product constrain bookmarked" 
          *ngFor="let product of productCart.productCheckouts; index as i">
          <a class="image cursor-pointer">`
            <img [src]="product?.productImage | filePathFormatter" 
              [alt]="product?.productName"
              height="120px"
              *ngIf="product?.productImage; else defaultImage" />
              <ng-template #defaultImage>
                <img src="assets/images/products/4.png" 
                [alt]="product?.productName"
                  height="120px" />
              </ng-template>
          </a>
  
          <div class="details">
            <a class="name cursor-pointer">
              <h5>{{ product.productName | capitalize }}</h5>
            </a>
            <!-- <button class="btn bookmark">
              <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
            </button> -->
  
            <p class="description" *ngIf="(cartItemDetails$ | async) as cartItemDetails">
              {{ cartItemDetails[i]?.productModel?.description | capitalize }}
            </p>
  
            <h5 class="price">{{ product.cost | currency }}</h5>
  
            <p class="bag">
              <img class="svg icon" alt="Bag Icon" src="assets/images/icons/bag.svg">
              <span>99+</span>
            </p>
  
            <span class="line"></span>
  
            <p class="like">
              <img class="svg icon" alt="" src="assets/images/icons/like.svg">
              <span>26</span>
            </p>
  
            <button class="btn add-to-cart" (click)="removeProductFromCart(product.productId)">
              <img class="svg" src="assets/images/icons/minus.svg" height="18px" alt="Add to Cart">
            </button>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="!isCheckoutBtnHidden">
      <div class="constrain" 
      *ngIf="(productCart$ | async) && !(processedCart$ | async)">
      <button type="button" 
        *ngIf="(productCart$ | async) as productCart"
        (click)="cartCheckout(productCart)" 
        class="btn btn-primary btn-block">
        <i class="fa fa-check" aria-hidden="true"></i>
        Checkout
      </button>
      </div>
    </section>

    <div class="constrain" 
      *ngIf="(processedCart$ | async) as processedCart">
      <ion-item-group>
        <ion-item-divider>
          <ion-label color="danger">
            Payment Summary
          </ion-label>
        </ion-item-divider>
      
        <ion-item>
          <ion-label>Cart Status</ion-label>
          <ion-badge color="medium" slot="end">
            {{ processedCart.status }}
          </ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>VAT</ion-label>
          <ion-badge color="medium" slot="end">
            {{ processedCart.vat || 0 | currency }}
          </ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Delivery Fee</ion-label>
          <ion-badge color="medium" slot="end">
            {{ processedCart?.deliveryCost || 0 | currency }}
          </ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Total</ion-label>
          <ion-badge color="warning" slot="end">
            {{ processedCart?.total || 0 | currency }}
          </ion-badge>
        </ion-item>
    
        <br />
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-align-self-start text-right">
              <button class="btn btn-primary" 
                [disabled]="processedCart.status !== productCartStatus.VERIFIED || processedCart.status === productCartStatus.CANCELLED"
                (click)="makePayment(processedCart.cartId)">
                <i class="fa fa-credit-card"></i>
                Pay
              </button>
            </ion-col>
          </ion-row>
          </ion-grid>
      </ion-item-group>
    </div>
  </main>

  <app-footer-expander></app-footer-expander>

  <app-user-bottom-navbar></app-user-bottom-navbar>
</ion-content>
