#business-details-page #products {
    grid-gap: 5px;
    padding: 0;
    margin: 30px 0;
    width: 100%;
    overflow: hidden;
  }
  
  #business-details-page #products .products {
    padding: 0;
    margin-bottom: 30px;
  }
  
  #business-details-page #products .products .product {
    display: -ms-grid;
    display: grid;
    text-align: left;
    text-decoration: none;
    padding: 15px 7.5px;
    // column-gap: 12px;
    // row-gap: 110px;
    // grid-auto-rows: 50px;
    // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  
  }
  
  #business-details-page #products .products .product:first-child {
    padding-left: 15px;
  }
  
  #business-details-page #products .products .product:last-child {
    padding-right: 15px;
  }
  
  #products .products .product .details {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    text-align: left;
    text-decoration: none;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 10px #e6e8ef;
            box-shadow: 0px 2px 10px #e6e8ef;
    border-radius: 4px;
  }
  
  #products .products .product .details .image {
    display: -ms-grid;
    display: grid;
    width: 120px;
    height: 120px;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    position: relative;
  }
  
  #products .products .product .details .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  #products .products .product .details .image .bookmark {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 0;
  }
  
  #products .products .product .details .image .bookmark img,
  #products .products .product .details .image .bookmark svg {
    width: auto;
    height: 15px;
    border-radius: 0;
  }
  
  #products .products .product .details .image .bookmark img path,
  #products .products .product .details .image .bookmark svg path {
    stroke: #ffffff;
  }
  
  #products .products .product .details .image .bookmark:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  
  #products .products .product .details .text {
    padding: 10px;
    max-width: 120px;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
  }
  
  #products .products .product .details .text .name {
    color: #222b45;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
  }
  
#products .products .product .details .text p {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    -ms-grid-columns: 1fr max-content;
        grid-template-columns: 1fr -webkit-max-content;
        grid-template-columns: 1fr max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #products .products .product .details .text p span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: #fa6400;
  }

  #business-details-page #products .products .product .details .text p .add-to-cart {
    padding: 0;
  }
  
  #products .products .product .details .text p .add-to-cart img,
  #products .products .product .details .text p .add-to-cart svg {
    width: 18px;
    height: auto;
  }
  
  #products .products .product .details .text p .add-to-cart img path,
  #products .products .product .details .text p .add-to-cart svg path {
    fill: #fa6400;
  }
  
  #products .products .product.bookmarked .bookmark svg path {
    fill: #fa6400;
    stroke: #fa6400 !important;
  }
  
  #products #product-categories {
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 10px #e6e8ef;
            box-shadow: 0px 2px 10px #e6e8ef;
    display: -ms-grid;
    display: grid;
    margin-bottom: 30px;
  }
  
  #products #product-categories:last-child {
    margin-bottom: 0;
  }
  
  #products #product-categories .section-title {
    padding: 15px;
  }
  
  #products #product-categories .section-title h5 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #222b45;
  }
  
  #products #product-categories .section-title h5 span {
    color: #8f9bb3;
    font-weight: normal;
  }

.constrain {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 15px;
}

.big-cart-btn .items {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: items;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.big-cart-btn .price {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: price;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  color: #ffffff;
}

.big-cart-btn .text {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-area: text;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 600;
  -ms-grid-column-align: end;
      justify-self: end;
}

.big-cart-btn {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    grid-template-areas:
        "items text"
        "price text";
}

i.fa {
  color: #fff;
}

.add-to-cart img path,
.add-to-cart svg path {
  fill: #fa6400;
  stroke: #fa6400 !important;
}