<ion-content>
  <main id="nearby-page" class="container with-bottom-menu bg-offwhite">
    <section id="header" class="constrain header-white">
      <div class="text">
        <h2 class="name">Nearby</h2>
      </div>
      <!-- This select is used to change the location of the user so he sees Nearby Restaurants. -->
      <!-- <div class="select">
        <div class="icon">
          <img class="svg" src="assets/images/icons/map-pointer.svg" height="15px" alt="Map Pointer">
        </div>
        <select name="location" id="location">
          <option value="Uwani">Uwani</option>
          <option value="Nsukka">Nsukka</option>
        </select>
        <div class="chevron-icon">
          <img class="svg" src="assets/images/icons/chevron-down.svg" height="7px" alt="Select">
        </div>
      </div> -->
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>
  
    <!-- 
      This is the tab buttons.
      When you click the buttons they activate the selected tab, clicking it also adds a ".active" class to both the button of the tab and the tab content.
      I have already implemented it using javascript.
    -->
    <section id="tabs" class="constrain" 
      *ngIf="(merchantTypes$ | async) as merchantTypes">
      <button class="tab" 
        *ngFor="let merchantType of merchantTypes"
        [ngClass]="{ 'active': activeTabType.id === merchantType.id }" 
        (click)="switchTabs(merchantType)">
        <span>{{ merchantType.name | uppercase }}</span>
      </button>
    </section>

    <!-- Tab content -->
    <!-- This is the Food tab -->
    <section id="food" 
      class="tab-content nearby-businesses active" 
      *ngIf="(merchantsOrderedByType$ | async) as merchants">
      <div class="businesses constrain" *ngIf="merchants.length > 0">
  
        <!-- 
          There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon on top of the product image.
        -->
        <app-nearby-item-widget 
          (addToBookmark)="addMerchantToBookmark($event)"
          [merchant]="merchant" 
          [currentIndex]="i"
          [arrayLength]="(merchants.length - 1)"
          *ngFor="let merchant of merchants; index as i">
        </app-nearby-item-widget>
      </div>
    </section>
  </main>

</ion-content>
