<style>
  main {
    padding: 150px 20px 20px 20px;
  }

  .image-section {
    width: 70%;
    height: 30vh;
    margin: 0 auto;
  }

  .image-section img {
    width: 100%;
    height: 100%;
  }

  h2 {
    padding-top: 30px;
    text-align: center;
    font-weight: 400;
    color: #fa6400;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 25px;
    text-shadow: 1px 1px #ddd;
    /* font-family: 'comic sans ms' */
  }
</style>

<main>
  <section class="image-section">
    <img src="../../../assets/undraw_connected_world_wuay.svg" alt="No Internet" />
  </section>
  <h2>
    OOPS, PLEASE CHECK YOUR INTERNET CONNECTION
  </h2>
</main>