  <main id="new-order-page" class="container bg-offwhite">
    <section id="header" class="header-white">
      <div class="header-actions constrain">
        <a backButton class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
        </a>
        <h4>New Order</h4>
      </div>
    </section>
  
    <section id="map" class="constrain" #mapSection></section>
  
    <ion-content>
      <section id="new-order-popup" class="popup" [ngClass]="{ 'active': isModelOpen }">
        <!-- This popup has 2 screens. The second one comes up immediately the user rates the driver.
        The class responsible for the switching is ".rated" You can switch by adding a ".rated" class to the popup-content section. It'll look like this: "popup-content rated" -->
        <form class="popup-content">
          <!-- This button closes the popup, it has been implemented. -->
          <button type="button" class="close-popup" (click)="toggleModal()">
            <img class="svg" src="assets/images/icons/close-popup.svg" height="10px" alt="Close Popup" />
          </button>
    
          <div class="tracking-details">
            <div class="trip constrain">
              <div class="order-timeline">
                <section *ngIf="(merchantInRiderProximity$ | async) as merchantInRiderProximity">
                  <div class="timeline active" *ngFor="let merchant of merchantInRiderProximity; index as i">
                    <div class="icon"></div>
                    <p class="header">
                      <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store" />
                      <span>Pickup Location {{ i + 1 }}</span>
                    </p>
                    <div class="user">
                      <div class="image">
                        <img [src]="merchant.merchantImage | filePathFormatter" 
                          height="95px" 
                          [alt]="merchant.merchantName" />
                        <ng-template #defaultImage>
                          <img src="assets/images/restaurants/lion-square.png" 
                            height="95px" 
                            [alt]="merchant.merchantName" />
                        </ng-template>
                      </div>
                      <div class="details">
                        <a class="name cursor-pointer">
                          <h5>{{ merchant.merchantName | capitalize }}</h5>
                        </a>
                        <p class="address">
                          <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store" />
                          <span>{{ merchant.merchantAddress | capitalize }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
    
                <div class="timeline inactive">
                  <div class="icon"></div>
                  <p class="header">
                    <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store" />
                    <span>Drop-off Location</span>
                  </p>
                  <div class="user" *ngIf="(selectedCart$ | async) as selectedCart;">
                    <div class="image">
                      <img *ngIf="selectedCart?.user?.person?.passportUrl; else defaultUserImageTemplate"
                        height="50px" 
                        alt="User's Picture"
                        [src]="selectedCart.user.person.passportUrl | filePathFormatter" />
                      <ng-template #defaultUserImageTemplate>
                        <img src="assets/images/icons/riders/user.png" height="50px" alt="User's Picture" />
                      </ng-template>
                    </div>
                    <div class="details">
                      <a class="name cursor-pointer">
                        <h5>
                          {{ selectedCart?.user?.person.firstName | capitalize }}
                          {{ selectedCart?.user?.person.lastName | capitalize }}
                        </h5>
                      </a>
                      <p class="address">
                        <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store" />
                        <span>{{ selectedCart?.deliveryAddress | capitalize }}</span>
                      </p>
                      <p class="phone">
                        <img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store" />
                        <span>{{ selectedCart?.user?.person.phoneNo }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="submit constrain" *ngIf="(selectedCart$ | async) as selectedCart;">
              <button type="button" 
                class="btn btn-green cursor-pointer" 
                (click)="acceptDelivery(selectedCart.id)"
                [disabled]="selectedCart.status === productStatus.TRANSIT">
                Accept
              </button>
              <button type="button" 
                class="btn btn-white cursor-pointer" 
                (click)="cancelDelivery(selectedCart.id)"
                [disabled]="selectedCart.status === productStatus.TRANSIT">
                Cancel
              </button>
            </div>
          </div>
        </form>
        <!-- <div class="popup-overlay"></div> -->
      </section>
    </ion-content>
  
  </main>
