.my-custom-class {
    color: var(--bg-primary);
}

.modal-container {
    display: block;
    z-index: 99999;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
  }

  .loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid var(--bg-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
    margin-top: 55% !important;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }