<div class="product constrain bookmarked">
  <a (click)="viewProductDetail()" class="image">
    <img [src]="product.productImageModels[0].path | filePathFormatter" 
      height="120px" 
      *ngIf="product.productImageModels.length > 0; else defaultImage"
      [alt]="product?.productModel.name" />
    
    <ng-template #defaultImage>
      <img src="assets/images/products/4.png" height="120px" [alt]="product?.productModel.name" />
    </ng-template>
  </a>

  <div class="details">

    <a (click)="viewProductDetail()" class="name">
      <h5>{{ product?.productModel.name | uppercase }}</h5>
    </a>

    <button class="btn bookmark" (click)="addProductToBookmark(product.productModel?.id)">
      <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
    </button>

    <p class="description" *ngIf="product.productModel.description">
      {{ product.productModel.description | capitalize }}
    </p>

    <h5 class="price">{{ product.productCostModel.unitPrice | currency }}</h5>

    <p class="bag">
      <img class="svg icon" alt="Total Likes" src="assets/images/icons/bag.svg">
      <span>99+</span>
    </p>

    <span class="line"></span>

    <p class="like">
      <img class="svg icon" alt="Like Product" src="assets/images/icons/like.svg">
      <span>26</span>
    </p>

    <button class="btn add-to-cart" (click)="addToCart(product)">
      <img class="svg" src="assets/images/icons/add.svg" height="18px" alt="Add to Cart" />
    </button>

  </div>
</div>