<ion-app>
    <app-loader *ngIf="(isLoading$ | async)"></app-loader>

    <app-loader *ngIf="(isUserLoading$ | async)"></app-loader> 

    <app-loader *ngIf="(isRiderLoading$ | async)"></app-loader>
    
    <app-error-message 
        *ngIf="(error$ | async) as err" [error]="err" 
        (closeAlert)="clearError()">
      </app-error-message>

    <app-error-message 
        *ngIf="(userError$ | async) as err" [error]="err" 
        (closeAlert)="clearError()">
      </app-error-message>

    <app-error-message 
      *ngIf="(riderError$ | async) as err" [error]="err" 
      (closeAlert)="clearError()">
      </app-error-message>

    <app-success-message 
      *ngIf="(message$ | async) as msg" 
      [message]="msg"
      (closeAlert)="clearMessage()"></app-success-message>

    <app-success-message 
      *ngIf="(userMessage$ | async) as msg" 
      [message]="msg"
      (closeAlert)="clearMessage()"></app-success-message>

    <app-success-message 
      *ngIf="(riderMessage$ | async) as msg" 
      [message]="msg"
      (closeAlert)="clearMessage()"></app-success-message>

    <app-clickable-mesage 
      *ngIf="(activeActionMessage$ | async) as message"
      [message]="message">
    </app-clickable-mesage>

    <app-clickable-mesage 
      *ngIf="(riderActiveActionMessage$ | async) as message"
      [message]="message">
    </app-clickable-mesage>

    <app-cart-badge 
      *ngIf="(cartItemsCount$ | async) as cartItemCount" 
      [itemCount]="cartItemCount">
    </app-cart-badge>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
