<!-- This is that menu at the bottom of every page -->
<section id="bottom-menu">
  <div class="menu-links">
    <a [routerLink]="['/rider', 'home']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/home.svg" height="20px" alt="Home" />
      <span>Home</span>
    </a>

    <a [routerLink]="['/rider', 'orders']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/orders.svg" height="20px" alt="Orders" />
      <span>Orders</span>
    </a>

    <a [routerLink]="['/rider', 'statistics']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/bar-chart.svg" height="20px" alt="Statistics" />
      <span>Statistics</span>
    </a>

    <a [routerLink]="['/profile']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/profile.svg" height="20px" alt="Profile" />
      <span>Profile</span>
    </a>
  </div>
</section>