<a *ngIf="cart" 
  [routerLink]="['/rider', 'order-info', cart.cart.id]" class="order">
  <div class="image">
    <img src="assets/images/restaurants/kichi.png" height="95px" alt="kichi">
  </div>
  <div class="details">
    <h5 class="name">{{ cart.cart?.dateCreated | date : 'short' }}</h5>
    <p class="id">
      <span>ID:</span> {{ cart.cart.id }}
    </p>
    <p class="items">
      {{ cart.orders.length || 0 }} Item
    </p>
    <!-- This is the status of the order, The statuses have different classes to change the colors -->
    <!-- <p class="status waiting">Waiting</p> -->
    <p class="status waiting">{{ cart?.cart?.status | capitalize }}</p>
  </div>
</a>