<ion-content>
  <main id="search-results-page" class="container with-bottom-menu bg-offwhite">
    <section class="header-area">
      <div class="header-section">
         <a [routerLink]="['/user', 'category-list']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
      </div>
      <div class="header-section">
        <div class="text">
          <h2 class="name">{{ categoryName | capitalize }}</h2>
        </div>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>

    <section id="search-results" 
      class="constrain" 
      *ngIf="(productsGroupedByCategory$ | async) as productsGroupedByCategory">
      <!-- 
        There's a ".bookmarked" class on the search results that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon on top of the result's logo.
      -->
      <app-search-results-widget 
        (addProductToBookmarkType)="addProductToBookmark($event, product)"
        (viewProductDetailEvent)="openProductDetail($event, product)"
        *ngFor="let product of productsGroupedByCategory" 
        [searchResult]="product"></app-search-results-widget>
    </section>

    <app-footer-expander></app-footer-expander>
  </main>

</ion-content>
