<ion-content>
  <main id="reset-password-page" class="bg-offwhite container">

    <section id="header" class="constrain">
        <div class="navigation">
            <a [routerLink]="['/auth', 'validate-otp']" class="back">
                <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
            </a>
        </div>
    </section>

    <section id="heading-text" class="constrain">
        <h1 class="title">Reset Password</h1>
        <p>Enter your new password and confirm.</p>
    </section>

    <section id="reset-password-form" class="constrain">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div>
                    <input type="password" 
                        placeholder="New Password"
                        [formControlName]="'Password'" />
                    <p class="margin-xs" 
                        *ngIf="resetPasswordForm.get('Password').invalid && resetPasswordForm.get('Password').touched">
                        <span class="error-message-block" 
                            *ngIf="resetPasswordForm.get('Password').errors['required']">
                            This field is required
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="password" 
                        placeholder="Confirm Password"
                        [formControlName]="'ConfirmPassword'" 
                        (input)="comparePasswords()"/>
                    <p class="margin-xs" 
                        *ngIf="resetPasswordForm.get('ConfirmPassword').invalid && resetPasswordForm.get('ConfirmPassword').touched">
                        <span class="error-message-block" 
                            *ngIf="resetPasswordForm.get('ConfirmPassword').errors['required']">
                            This field is required
                        </span>
                    </p>
                    <p class="margin-xs" 
                        *ngIf="resetPasswordForm.get('ConfirmPassword')?.errors?.wrongMatch">
                        <span class="error-message-block" 
                            *ngIf="resetPasswordForm.get('ConfirmPassword').errors['wrongMatch']">
                            Both Passwords do not match
                        </span>
                    </p>
                </div>
            </div>

            <div></div>

            <div class="form-row">
                <button [disabled]="resetPasswordForm.invalid" 
                    type="submit" 
                    class="btn btn-primary">
                    Done
                </button>
            </div>
        </form>
    </section>
  </main>
</ion-content>
