<!-- This is the empty state of the Ongoing tab -->
<div class="empty-state constrain">
  <img src="assets/images/others/idle-rider.png" height="300px" alt="Idle Rider">

  <div class="text">
    <h2>{{ purpose }} is Empty</h2>
    <!-- <p>You can go to Discover to add products.</p> -->
    <p>Try to Discover &amp; add products.</p>
  </div>

  <a *ngIf="showButton" [routerLink]="['/user', 'discover-items']" class="btn btn-primary">Go Discover</a>
</div>