<ion-content>
  <main id="order-information-page" class="container">
    <!-- Wrapping everything in a form so it can be submitted to the database. -->
    <form>
      <section id="header" class="constrain header-white">
        <a backButton class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
  
        <div class="text">
          <h2 class="title">Order Information</h2>
  
          <p class="id">
            <span>ID:</span> {{ cartId }}
          </p>
        </div>
      </section>
  
      <section id="delivery-address" class="constrain">
        <div class="header">
          <h5>Delivery to</h5>
          <a [routerLink]="['/profile', 'add-address']" 
            class="link link-primary">
            Add new address
          </a>
        </div>
  
        <div class="address">
          <!-- i think a map goes here. -->
          <div class="map">
            <img src="assets/images/others/address-map.png" height="100px" alt="Map">
          </div>
  
          <div class="details" *ngIf="(selectedCart$ | async) as selectedCart">
            <h5 class="location-address">
              <img class="svg" src="assets/images/icons/map-pointer.svg" height="9px" alt="Store">
              <span>{{ selectedCart?.deliveryAddress | capitalize }}</span>
            </h5>
            <p class="name">
              <img class="svg" src="assets/images/icons/person.svg" height="9px" alt="Store">
              <span *ngIf="(userData$ | async)?.person as person">
                {{ person.firstName | capitalize }} 
                {{ person.lastName | capitalize }}
              </span>
            </p>
            <p class="phone">
              <img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store">
              <span>{{ (userData$ | async)?.person.phoneNo }}</span>
            </p>
          </div>
        </div>
      </section>
  
      <section id="delivery-details" >
        <div class="heading constrain">
          <div class="v-grid">
            <h5>Delivery Time</h5>
            <div class="h-grid">
              <p>{{ (selectedCart$ | async)?.dateCreated | date : 'shortTime' }}</p>
              <p>{{ (selectedCart$ | async)?.dateCreated | date : 'mediumDate' }}</p>
            </div>
          </div>
          <!-- <a href="#" class="link link-primary">Edit</a> -->
        </div>
  
        <div class="cart-item constrain">
          <div class="image" *ngIf="(selectedCart$ | async) as selectedCart">
            <img [src]="getProductImageToPreview(selectedCart.productCheckouts)"
              *ngIf="getProductImageToPreview(selectedCart.productCheckouts); else defaultTemplate"
              height="100px" alt="Merchant Image" />
            <ng-template #defaultTemplate>
              <img src="assets/images/restaurants/lion-square.png" 
                height="100px" 
                alt="Merchant Image" />
            </ng-template>
          </div>
          <div class="details" *ngIf="(selectedCart$ | async) as selectedCart">
            <h5 class="name">
              {{ selectedCart.productCheckouts[0]?.productName | uppercase }}
            </h5>
            <p class="product">{{ selectedCart.productCheckouts[0]?.productName | capitalize }}</p>
          </div>
        </div>
  
        <div class="cart-totals constrain" *ngIf="(selectedCart$ | async) as selectedCart">
          <div class="h-grid">
            <p>Subtotal (1 item)</p>
            <p>{{ selectedCart?.productCheckouts | productCostCalculator | currency }}</p>
          </div>
          <div class="h-grid">
            <p>VAT</p>
            <p>{{ selectedCart.vat | currency }}</p>
          </div>
          <div class="h-grid">
            <p>Delivery Fee ({{ selectedCart.distance || 0 }} Km)</p>
            <p>{{ selectedCart.deliveryCost | currency }}</p>
          </div>
          <div class="totals">
            <h4>Total</h4>
            <h4>{{ selectedCart.total | currency }}</h4>
          </div>
        </div>
      </section>
  
      <section id="note">
        <div class="title constrain">
          <h5>Note</h5>
        </div>
  
        <div class="constrain">
          <!-- What does this do -->
          <textarea name="note" 
            placeholder="Please call me when you come. Thank you!" 
            id="note">
          </textarea>
        </div>
        
      </section>
      
      <div class="submit constrain" *ngIf="(selectedCart$ | async) as selectedCart">
        <a class="btn btn-outline-black cursor-pointer">Rating</a>
        <button type="button" 
          class="btn btn-primary" 
          (click)="reorderOldCart(selectedCart.productCheckouts, selectedCart.deliveryAddress)">
          Re-Order
        </button>
      </div>
    </form>

    <app-footer-expander></app-footer-expander>

    <app-user-bottom-navbar></app-user-bottom-navbar>

    </main>
</ion-content>
