<main class="main">
  <header>
    <div class="header-section">
      <h4>
        <img class="icon" 
          [src]="cartCheckList.mechantLogo | filePathFormatter" 
          [alt]="cartCheckList.mechantName" />
        <ng-template #defaultLogo>
          <img class="icon" src="assets/images/humans/1.png" [alt]="cartCheckList.mechantName" />
        </ng-template>&nbsp;
        {{ cartCheckList.mechantName | capitalize }}
      </h4>
    </div>
    <div class="header-section">
      <p class="text-right">
        <i class="fas fa-caret-down cursor-pointer" 
          [ngClass]="{ 'fa-caret-up': isAccordianExpanded }" 
          (click)="toggleAccordian()"></i>
      </p>
    </div>
  </header>

  <div class="product-list" *ngIf="isAccordianExpanded">
    <ion-item-group>
      <ion-item 
        [lines]="last ? 'none' : null" 
        *ngFor="let product of cartCheckList.productOrderDetails; let last = last">
        <ion-label>
          <img class="icon" 
            [src]="product.productLogo | filePathFormatter" 
            [alt]="product.productName" />
          <ng-template #defaultProductImage>
            <img class="icon" 
              src="assets/images/humans/rider.png" 
              [alt]="product.productName" />
          </ng-template>&nbsp; 
          {{ product.productName | capitalize }} ({{ product.quantity }})
        </ion-label>
        <ion-badge color="warning" slot="end">
          {{ product.totalPrice | currency}}
        </ion-badge>
      </ion-item>
    </ion-item-group>
  </div>
</main>