.main {
    font-family: 'Quicksand', sans-serif;
    border-top: none;
    background: #fff;
    margin-bottom: 15px;

    .icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        vertical-align: middle;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #DEDEDE;
        padding: 10px 15px;
    
        .header-section {
            width: 50%;
    
        }
    }

    i {
        font-size: 20px;
    }

    .product-list {
        padding: 0 15px;
    }

}

.collapsed {
    max-height: 0 !important;
}

.expand-wrapper {
    transition: max-height 0.9s ease-in-out;
    overflow: hidden;
    height: auto;
}

.squeeze-wrapper {
    transition: max-height 0.9s ease-in-out;
    // overflow: hidden;
    height: 0;
}