<ion-content>
  <main id="nearby-page" class="container with-bottom-menu bg-offwhite">
    <section class="header-area">
      <div class="header-section">
         <a [routerLink]="['/user', 'discover-items']" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back">
        </a>
      </div>
      <div class="header-section">
        <div class="text">
          <h2 class="name">Categories</h2>
        </div>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>

    <!-- Tab content -->
    <!-- This is the Food tab -->
    <section id="food" 
      class="tab-content nearby-businesses active">
      <div class="businesses constrain">
  
        <!-- 
          There's a ".bookmarked" class on the products that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon on top of the product image.
        -->
        <app-category-item-widget 
          [productCategory]="category" 
          *ngFor="let category of (productsByMerchant$ | async)?.productProductCategoryIndexModels">
        </app-category-item-widget>

        <app-footer-expander></app-footer-expander>
      </div>
    </section>
  </main>

</ion-content>
