.product-detail-area {
    padding: 10px 20px 30px 20px;
    min-height: 100vh;

    ion-card {
        box-shadow: var(--box-shadow-lg);
    }

    .img-area {
        width: 100%;
        height: 350px;
        background: whitesmoke;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    article {
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 0 0 15px 0;
        font-family: 'Quicksand', sans-serif;

        .title {
            font-size: 24px;
            font-weight: 100;
            margin: 5px 3px 3px 3px;
            color: var(--bg-deep-black);
            letter-spacing: 0.5px;
        }

        .description {
            word-spacing: 1px;
            letter-spacing: 0.5px;
            font-weight: 100;
            font-size: 14px;
            padding: 10px 3px;
        }

        // .description::after {
        //     content: "→";
        // }
    }

    .price {
        margin: 10px 3px;
        font-weight: 200;
        font-size: 16px;
        color: var(--bg-deep-black);
    }

    ion-label {
        font-size: 16px;
    }

    ion-card {
        ion-card-header {
            text-align: right;
        }
    }
}