<ion-content>
  <main id="nearby-page" class="container with-bottom-menu bg-offwhite">
    <section class="header-area">
      <div class="header-section">
        <a (click)="closeModal()" class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
        </a>
      </div>
      <div class="header-section">
        <div class="text">
          <h2 class="name">Items To Buy</h2>
        </div>
      </div>
    </section>

    <section class="product-detail-area">
      <app-accordian 
        [cartCheckList]="cartCheckList"  
        *ngFor="let cartCheckList of cartCheckLists">
      </app-accordian>
    </section>

  </main>
</ion-content>
