<ion-content>
  <main id="discover-page" class="bg-offwhite container with-bottom-menu">

    <!-- 
      .header primary below gives it the orange background.
     -->
    <section id="search" class="header-primary">
      <div class="header">
        <a *ngIf="(userData$ | async)?.person?.address" 
          [routerLink]="['/profile', 'address']" 
          class="delivery-location link constrain">
          <h5>DELIVERING TO</h5>
          <p>
            <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Map Pointer">
            <span>{{ (userData$ | async)?.person?.address | uppercase }}</span>
            <span></span>
            <img class="svg" src="assets/images/icons/chevron-down.svg" height="10px" alt="Expand">
          </p>
        </a>
  
        <div class="search-box constrain">
          <form [formGroup]="searchForm" id="search-form" class="input-with-icon" (ngSubmit)="onSubmit()">
            <input [formControlName]="'SearchTerm'" 
              type="search" 
              id="search-input" 
              placeholder="What are you searching for?" />
            <button type="submit" class="btn">
              <img class="svg" src="assets/images/icons/search.svg" height="10px" alt="Search">
            </button>
          </form>
          <a (click)="clearSearchTerm()" class="btn close-search cursor-pointer">
            <!-- Whenever the search popup is open, the filter.svg icon hides and the "Exit" text shows instead just as it was done in the Figma design. It works with the .searching class on the <body> tag. -->
            <img class="svg" src="assets/images/icons/filter.svg" height="15px" alt="Filter">
            <p>Exit</p>
          </a>
        </div>
      </div>
  
      <div class="search-suggestions">
        <div class="search-history constrain">
          <div class="section-title with-link p-0">
            <h4>History</h4>
            <a href="#" class="link link-secondary">Clear All</a>
          </div>
  
          <!-- This is the search history of the user -->
          <div class="histories">
            <div class="history">
              <a href="#" class="link link-secondary">Milk Tea</a>
              <button type="button" class="btn">
                <img class="svg" src="assets/images/icons/clear.svg" height="10px" alt="Clear">
              </button>
            </div>
            <div class="history">
              <a href="#" class="link link-secondary">Rice Chicken</a>
              <button type="button" class="btn">
                <img class="svg" src="assets/images/icons/clear.svg" height="10px" alt="Clear">
              </button>
            </div>
            <div class="history">
              <a href="#" class="link link-secondary">Coffee</a>
              <button type="button" class="btn">
                <img class="svg" src="assets/images/icons/clear.svg" height="10px" alt="Clear">
              </button>
            </div>
            <!-- This button adds more content and displays older search histories -->
            <a href="#" class="chevron link-primary link">
              <span>View more</span>
              <img class="svg" src="assets/images/icons/chevron-down.svg" height="7px" alt="Arrow Down">
            </a>
          </div>
        </div>
  
        <!-- These are product suggestions from the searched keyword -->
        <div class="suggestions constrain">
          <div class="section-title with-link">
            <h4>Suggestions</h4>
            <a href="search-results.html" class="link link-primary">
              <span>View all</span>
              <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px"
                alt="Arrow Right">
            </a>
          </div>
  
          <!-- <div class="slider"
          [flickity]="{ contain: true, prevNextButtons: false, pageDots: false, wrapAround: false, autoPlay: 10000, pauseAutoPlayOnHover: true, dragThreshold: 10 }">
            <div class="slide">
              <a href="#" class="product">
                <img class="image" src="assets/images/products/5.png" height="100px" alt="Product Results">
                <p class="name">Asia Food</p>
              </a>
  
              <a href="#" class="product">
                <img class="image" src="assets/images/products/3.png" height="100px" alt="Product Results">
                <p class="name">Fast Food</p>
              </a>
            </div>
  
            <div class="slide">
              <a href="#" class="product">
                <img class="image" src="assets/images/products/4.png" height="100px" alt="Product Results">
                <p class="name">Asia Food</p>
              </a>
  
              <a href="#" class="product">
                <img class="image" src="assets/images/products/6.png" height="100px" alt="Product Results">
                <p class="name">Fast Food</p>
              </a>
            </div>
  
            <div class="slide">
              <a href="#" class="product">
                <img class="image" src="assets/images/products/4.png" height="100px" alt="Product Results">
                <p class="name">Asia Food</p>
              </a>
  
              <a href="#" class="product">
                <img class="image" src="assets/images/products/6.png" height="100px" alt="Product Results">
                <p class="name">Fast Food</p>
              </a>
            </div>
  
            <div class="slide">
              <a href="#" class="product">
                <img class="image" src="assets/images/products/4.png" height="100px" alt="Product Results">
                <p class="name">Asia Food</p>
              </a>
  
              <a href="#" class="product">
                <img class="image" src="assets/images/products/6.png" height="100px" alt="Product Results">
                <p class="name">Fast Food</p>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </section>
  
    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>
  
    <swiper [slidesPerView]="'auto'" 
      [centeredSlides]="false"
      id="discover-adverts"
      [ngClass]="['constrain']"
      [spaceBetween]="15"
      [loop]="true" 
      [autoplay]="{ delay: 2500, disableOnInteraction: false }">
      <ng-template swiperSlide>
        <div class="advert">
          <a class="details cursor-pointer">
            <div class="image">
              <img src="assets/images/banner/banner1.png" height="100px" alt="Advert">
            </div>
          </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="advert">
          <a class="details cursor-pointer">
            <div class="image">
              <img src="assets/images/banner/banner2.png" height="100px" alt="Advert">
            </div>
          </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="advert">
          <a class="details cursor-pointer">
            <div class="image">
              <img src="assets/images/banner/banner2.png" height="100px" alt="Advert">
            </div>
            <!-- <div class="flickity-image-support">
              <h5>Advert</h5>
            </div> -->
          </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="advert">
          <a class="details cursor-pointer">
            <div class="image">
              <img src="assets/images/banner/banner1.png" height="100px" alt="Advert">
            </div>
          </a>
        </div>
      </ng-template>
    </swiper>

    <section id="categories" 
      class="constrain" 
      *ngIf="(productsByMerchant$ | async)?.productProductCategoryIndexModels.length > 0">
      <div class="section-title with-link">
        <h4>Categories</h4>
        <a [routerLink]="['/user', 'category-list']" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>

      <swiper [slidesPerView]="'auto'"
        [centeredSlides]="false" 
        [ngClass]="['categories', 'constrain']"
        [spaceBetween]="15"
        [loop]="true" 
        [autoplay]="{ delay: 10000, disableOnInteraction: false }">
      <ng-template 
        swiperSlide 
        *ngFor="let category of (productsByMerchant$ | async)?.productProductCategoryIndexModels | sliceContent : 10">
        <app-category-hightlight-widget 
          [productCategory]="category">
        </app-category-hightlight-widget>
      </ng-template>
    </swiper>
    </section>
  
    <section id="orders" class="constrain" *ngIf="(productOrderHistory$ | async)?.length > 0">
      <div class="section-title with-link">
        <h4>Products Ordered</h4>
        <a [routerLink]="['/user', 'orders']" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>

      <swiper [slidesPerView]="'auto'" 
        [ngClass]="['orders', 'constrain']"
        [spaceBetween]="15"
        [loop]="true" 
        [autoplay]="{ delay: 2500, disableOnInteraction: true }">
        <ng-template swiperSlide 
        *ngFor="let order of (productOrderHistory$ | async) | sliceContent : 8">
          <app-ordered-product-highlight-widget 
          (viewProductDetailEvent)="openProductDetail($event, order)"
          [product]="order">
        </app-ordered-product-highlight-widget>
        </ng-template>
      </swiper>
    </section>
  
    <section id="restaurants" class="constrain" *ngIf="(favouriteMerchants$ | async)?.length > 0">
      <div class="section-title with-link">
        <h4>Favourite Restaurants</h4>
        <a [routerLink]="['/user', 'favourites']" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>
  
      <swiper [slidesPerView]="'auto'" 
        [ngClass]="['restaurants', 'constrain']"
        [spaceBetween]="15"
        [loop]="true" 
        [autoplay]="{ delay: 2500, disableOnInteraction: true }">
        <ng-template swiperSlide *ngFor="let merchant of (favouriteMerchants$ | async) | sliceContent : 8">
          <app-favourite-merchant-hightlight-widget 
          [favouriteMerchant]="merchant">
        </app-favourite-merchant-hightlight-widget>
        </ng-template>
      </swiper>
    </section>
  
    <section id="hot-sale" class="constrain" *ngIf="(productsOnHotSale$ | async)?.length > 0">
      <div class="section-title with-link">
        <h4>Hot Sale</h4>
        <a [routerLink]="['/user', 'hot-sales-list']" 
          class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>

      <swiper [slidesPerView]="'auto'" 
        [ngClass]="['sales', 'constrain']"
        [spaceBetween]="15"
        [loop]="true" 
        [autoplay]="{ delay: 2500, disableOnInteraction: true }">
        <ng-template swiperSlide *ngFor="let product of (productsOnHotSale$ | async) | sliceContent : 8">
          <app-hot-sale-highlight-widget 
            (viewProductDetailEvent)="openProductDetail($event, product)"
            [product]="product">
          </app-hot-sale-highlight-widget>
        </ng-template>
      </swiper>
    </section>
  
    <section id="nearby" 
      class="constrain" 
      *ngIf="(productsByMerchant$ | async)?.productMerchantIndexModels?.length > 0">
      <div class="section-title with-link">
        <h4>Nearby</h4>
        <a [routerLink]="['/user', 'nearby']" class="link link-primary">
          <span>View all</span>
          <img class="svg" src="assets/images/icons/double-chevron-right.svg" height="7px" alt="Arrow Right">
        </a>
      </div>
  
      <!-- 
        There's a ".bookmarked" class on the restaurant that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon.
      -->
      <main *ngIf="(productsByMerchant$ | async) as productsByMerchant">
        <app-merchant-product-listing
          *ngFor="let merchant of productsByMerchant?.productMerchantIndexModels | sliceContent : 8; index as i"
          [merchant]="merchant"
          [isBookmarked]="true"
          [currentIteration]="i"
          [arraySize]="productsByMerchant?.productMerchantIndexModels.length"
          (addToBookmark)="addResturantToBookmark($event, merchant)">
        </app-merchant-product-listing>
      </main>
      
    </section>
  </main>
</ion-content>