<ion-content>
  <main class="bg-offwhite container">

    <section id="header" class="constrain">
        <div class="navigation">
            <a [routerLink]="['/profile', 'address']" class="back">
                <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
            </a>
        </div>
        <h1 class="title">Add New Address</h1>
    </section>

    <section id="add-new-address-form" class="constrain">
        <form action="">
            <div class="form-row">
                <div>
                    <input type="text" placeholder="Address name" name="address-name" required>
                </div>

                <div>
                    <div class="select">
                        <select name="location" id="location" disabled>
                            <option value="home" selected>Home</option>
                            <option value="work">Work</option>
                        </select>
                        <!-- This is that arrow icon that comes up on a select input -->
                        <div class="chevron-icon">
                            <img class="svg" src="assets/images/icons/chevron-down.svg" height="7px" alt="Select">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text" placeholder="Your Location" name="your-location" required>
                </div>

                <!-- i think this button helps to locate the user and automatically fills in his address in the input field above this comment. -->
                <div>
                    <button class="locate btn btn-white">
                        <img class="svg" src="assets/images/icons/locate.svg" height="14px" alt="Locate">
                    </button>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text" placeholder="Name of the Consignee" name="consignee-name" required>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text" placeholder="Phone number" name="phone-number" required>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <input type="text" placeholder="Delivery note" name="delivery-note" required>
                </div>
            </div>

            <!-- This button submits this form. -->
            <div class="form-row">
                <button type="submit" class="btn btn-primary" name="complete">Complete</button>
            </div>
        </form>
    </section>
    </main>
</ion-content>
