<ion-content>
  <main id="statistics-page" class="container with-bottom-menu bg-offwhite">

    <section id="header" class="constrain header-white">
      <h2>Statistics</h2>
      <!-- <a class="link link-primary cursor-pointer">
        <span>Filter</span>
        <img class="svg icon" alt="filter icon" src="assets/images/icons/filter.svg">
      </a> -->
    </section>
  
    <section id="statistics" class="constrain" *ngFor="let stat of (riderDeliveryGraphData$ | async); index as i">
      <app-graph-widget 
        [graphData]="stat" 
        [index]="i">
      </app-graph-widget>
    </section>
  
    <app-footer-expander></app-footer-expander>
    <app-rider-bottom-navbar></app-rider-bottom-navbar>
  </main>
</ion-content>
