#addtocart-popup {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  background-color: #222b45;
  background-color: rgba(34, 43, 69, 0.7);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
    -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  overflow-x: hidden;//? Newly added

  .popup-content {
    position: fixed;
    bottom: 0;
    left: 0;
    max-height: 90%;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    bottom: -300px;
    opacity: 0;
    -webkit-transition: all 0.35s cubic-bezier(0.48, 1.42, 0.48, 1.45) 0s;
    transition: all 0.35s cubic-bezier(0.48, 1.42, 0.48, 1.45) 0s;
  }

  .close-popup {
      width: 100%;
      padding: 15px;
      line-height: 0;
      border-bottom: 1px solid #e6e8ef;
  }
}

#addtocart-popup .popup-content .close-popup:active {
    background-color: rgba(197, 206, 224, 0.3);
  }
  
  #addtocart-popup .popup-content .close-popup img,
  #addtocart-popup .popup-content .close-popup svg {
    height: 11px;
  }
  
  #addtocart-popup .popup-content .close-popup img path,
  #addtocart-popup .popup-content .close-popup svg path {
    fill: #C5CEE0;
  }
  
 #addtocart-popup .popup-content .title {
    font-size: 17px;
    line-height: 17px;
    font-weight: 600;
    padding: 30px 15px 15px 15px;
  }

  #addtocart-popup .popup-content .product-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    grid-gap: 10px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "image details";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e6e8ef;
  }
  
  #addtocart-popup .popup-content .product-details .image {
    display: -ms-grid;
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: image;
  }
  
  #addtocart-popup .popup-content .product-details .image:active {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  
  #addtocart-popup .popup-content .product-details .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #addtocart-popup .popup-content .product-details .details {
    display: -ms-grid;
    display: grid;
        grid-template-columns: auto auto auto 1fr;
        grid-template-rows: auto;
    grid-gap: 10px;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: details;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "name name name name" "bag line like ." "price price price quantity";
  }
  
  #addtocart-popup .popup-content .product-details .details .name {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: name;
    color: #222b45;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 36px;
  }
  
  #addtocart-popup .popup-content .product-details .details .price {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: price;
    font-size: 15px;
    line-height: 15px;
    color: #fa6400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  #addtocart-popup .popup-content .product-details .details .bag {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: bag;
  }
  
  #addtocart-popup .popup-content .product-details .details .line {
    width: 1px;
    height: 16px;
    background: #e0e0e0;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: line;
  }

  #addtocart-popup .popup-content .product-details .details .like {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: like;
  }
  
  #addtocart-popup .popup-content .product-details .details .bag,
  #addtocart-popup .popup-content .product-details .details .like {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    -ms-grid-columns: max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #addtocart-popup .popup-content .product-details .details .bag img,
  #addtocart-popup .popup-content .product-details .details .bag svg,
  #addtocart-popup .popup-content .product-details .details .like img,
 #addtocart-popup .popup-content .product-details .details .like svg {
    width: auto;
    height: 12px;
  }

#addtocart-popup .popup-content .product-details .details .bag img path,
#addtocart-popup .popup-content .product-details .details .bag svg path,
#addtocart-popup .popup-content .product-details .details .like img path,
#addtocart-popup .popup-content .product-details .details .like svg path {
  fill: #8f9bb3;
}

#addtocart-popup .popup-content .product-details .details .bag span,
#addtocart-popup .popup-content .product-details .details .like span {
  font-size: 12px;
  line-height: 12px;
  color: #8f9bb3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#addtocart-popup .popup-content .product-details .details .quantity {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
  grid-area: quantity;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#addtocart-popup .popup-content .product-details .details .quantity .btn {
  padding: 0;
}

#addtocart-popup .popup-content .product-details .details .quantity .btn img,
#addtocart-popup .popup-content .product-details .details .quantity .btn svg {
  width: 30px;
  height: auto;
}

#addtocart-popup .popup-content .product-details .details .quantity .btn img rect,
#addtocart-popup .popup-content .product-details .details .quantity .btn svg rect {
  fill: #fa6400;
  opacity: 1;
}

#addtocart-popup .popup-content .product-details .details .quantity .btn img path,
#addtocart-popup .popup-content .product-details .details .quantity .btn svg path {
  fill: #ffffff;
  opacity: 1;
}

#addtocart-popup .popup-content .product-details .details .quantity span {
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  min-width: 20px;
  text-align: center;
  color: #222b45;
}

#addtocart-popup .popup-content .attribute-title {
    background-color: #edf1f7;
  }
  
  #addtocart-popup .popup-content .attribute-title p:nth-child(2) {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  
  #addtocart-popup .popup-content .attributes .h-grid {
    grid-gap: 10px;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #addtocart-popup .popup-content .attributes .price {
    font-weight: 600;
    color: #222b45;
  }

  #addtocart-popup .popup-content .attributes .checkbox label {
    font-weight: 600;
  }
  
  #addtocart-popup .popup-content .attributes .checkbox label span {
    font-weight: 400;
    color: #8f9bb3;
  }
  
 #addtocart-popup .popup-content .note .title {
    background-color: #edf1f7;
    padding: 0;
  }
  
  #addtocart-popup .popup-content .note textarea {
    background-color: #F7F9FC;
    width: 100%;
    height: 80px;
    border-radius: 4px;
    resize: none;
  }
  
 #addtocart-popup .popup-content .big-cart-btn {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px 30px;
        grid-template-areas: "items text" "price text";
  }

  #addtocart-popup .popup-content .big-cart-btn .items {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: items;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
   #addtocart-popup .popup-content .big-cart-btn .price {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: price;
    font-size: 17px;
    line-height: 17px;
    font-weight: 600;
    color: #ffffff;
  }
  
 #addtocart-popup .popup-content .big-cart-btn .text {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: text;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 600;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  
  #addtocart-popup.active {
    overflow: hidden;
    opacity: 1;
    visibility: visible;
  }
  
 #addtocart-popup.active .popup-content {
    bottom: 0;
    opacity: 1;
  }
  