<!-- 
      This is the popup that comes up when you click the add to cart button (the plus icon beside every product)
    -->
    <section id="addtocart-popup" class="popup" [ngClass]="{ 'active': show }">
      <div class="popup-content">
        <!-- This button closes the popup, it has been implemented. -->
        <button type="button" class="close-popup" (click)="closeAddToCartModal()">
          <img class="svg" src="assets/images/icons/close-popup.svg" height="10px" alt="Close Popup">
        </button>
  
        <h5 class="title constrain">Add New Item</h5>
  
        <form [formGroup]="addDeliveryAddressForm" (ngSubmit)="onSubmit()">
          <div class="product-details constrain">
            <a class="image cursor-pointer">
              <img [src]="productImages[0].path | filePathFormatter"
                height="120px" 
                *ngIf="productImages?.length > 0; else defaultImage"
                [alt]="product.productName" />
              <ng-template #defaultImage>
                <img src="assets/images/products/4.png" height="120px" [alt]="product.productName" />
              </ng-template>
            </a>
  
            <div class="details">
              <a class="name cursor-pointer">{{ product.productName | uppercase }}</a>
              <p class="bag">
                <img class="svg icon" alt="" src="assets/images/icons/bag.svg">
                <span>99+</span>
              </p>
  
              <span class="line"></span>
  
              <p class="like">
                <img class="svg icon" alt="" src="assets/images/icons/like.svg">
                <span>26</span>
              </p>
              <h5 class="price">{{ currentPrice | currency }}</h5>
              <!-- 
                This plus and minus works
              -->
              <div class="quantity">
                <button type="button" 
                  (click)="subtractItemCount()"
                  class="minus btn">
                  <img class="svg icon" alt="subtract-item" src="assets/images/icons/minus.svg" height="30px" />
                </button>
                <span class="value">{{ product.quantity || 0 }}</span>
                <button type="button" 
                  (click)="addItemCount()"
                  class="plus btn">
                  <img class="svg icon" alt="add-item" src="assets/images/icons/plus.svg" height="30px" />
                </button>
              </div>
  
            </div>
          </div>
  
          <div class="attribute-title" *ngIf="(cartItems$ | async)?.productCheckouts?.length > 0">
            <div class="h-grid constrain">
              <p>Cart Items</p>
              <p>Price</p>
            </div>
          </div>
  
          <section *ngIf="(cartItems$ | async) as cartItems">
            <div class="attributes constrain" *ngFor="let cartItem of cartItems.productCheckouts">
              <div class="h-grid">
                <div class="checkbox">
                  <input id="size-s" type="checkbox">
                  <span class="check"></span>
                  <label for="size-s">
                    {{ cartItem.productName | capitalize }} 
                    <span>({{ cartItem.quantity }})</span>
                  </label>
                </div>
                <p class="price">{{ cartItem.cost | currency }}</p>
              </div>
            </div>
          </section>
  
          <!-- <div class="attribute-title">
            <div class="h-grid constrain">
              <p>Size</p>
            </div>
          </div>
  
          <div class="attributes constrain">
            <div class="h-grid">
              <div class="checkbox">
                <input id="lemon" type="checkbox">
                <span class="check"></span>
                <label for="lemon">Add Lemon</label>
              </div>
            </div>
          </div> -->
  
          <div class="note">
            <div class="title">
              <div class="h-grid constrain">
                <p>Delivery address</p>
              </div>
            </div>
  
            <div class="constrain">
              <textarea name="note" 
                [formControlName]="'Address'" 
                placeholder="Enter your delivery address" 
                id="note">
              </textarea>
            </div>
          </div>
  
          <div class="constrain">
            <!-- This button submits this form. -->
            <button type="submit" 
              class="big-cart-btn btn btn-primary" 
              [disabled]="addDeliveryAddressForm.invalid">
              <p class="items">{{ (cartItems$ | async)?.productCheckouts?.length || 0 }} item(s)</p>
              <p class="price" *ngIf="(cartItems$ | async) as cartItems; else defaultPrice">
                {{ cartItems?.productCheckouts | productCostCalculator | currency }}</p>
              <ng-template #defaultPrice>
                <p class="price">{{ 0 | currency }}</p>
              </ng-template>
              <p class="text">Add to Cart</p>
            </button>
          </div>
        </form>
      </div>
      <!-- <div class="popup-overlay"></div> -->
    </section>