<a [routerLink]="['/user', 'orders', 'order-info']"
[queryParams]="{ cartId: cart?.cartId, status: productCartStatus.COMPLETED }"  class="order">
  <div class="image">
    <img [src]="getProductImageToPreview(cart.productCheckouts) | filePathFormatter"
      height="95px" 
      *ngIf="getProductImageToPreview(cart.productCheckouts); else defaultImage"
      [alt]="cart?.dateCreated | date : 'short'" />
    <ng-template #defaultImage>
      <img src="assets/images/restaurants/kichi.png" height="95px" [alt]="cart?.dateCreated | date : 'short'" />
    </ng-template>
  </div>
  <div class="details">
    <h5 class="name">{{ cart?.dateCreated | date : 'short' }}</h5>
    <p class="items">
      {{ cart.productCheckouts?.length || 0 }} Items
    </p>
    <p class="date">{{ cart?.dateCreated | date : 'short' }}</p>
  </div>
</a>