section {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;

    .row-1 {
        display: flex;
        flex-direction: row;
        width: 100%;

        .column {
            width: 50%;
        }

        .column:nth-child(2) {
            .btn {
                float: right;
            }
        }
    }

    .row-2 {
        padding: 50px 0;

        .img-holder {
            width: 60%;
            height: 250px;
            margin: 0 auto;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .row-3 {
        p {
            text-align: center;
            font-size: 18px;
            font-weight: 100;
        }
    }
}

#productImage .swiper-wrapper {
    transition-timing-function: ease !important;
    z-index: auto !important;
}

#productImage.swiper-container {
    width: 100%;
    height: 100%;
    z-index: auto !important;
}

.full-width {
    width: 100%;
}

.btn.bookmark {
    position: absolute; 
    right: 0;
}

ion-toolbar {
    --background: #fa6400;
    --color: #fff;
}

ion-card-title {
    --color: #fa6400;
}

ion-button {
    --border-color: #fa6400;
    --color: #fa6400;
}

.img-holder {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

    img {
        width: 100% !important;
        max-height: 320px !important;
        height: auto !important;
        object-fit: contain;
    }
}

.description {
    margin-top: 20px;
    font-size: 18px;
}

.description::first-letter {
    font-size: 25px !important;
    color:  #fa6400;
    margin-left: 10px;
}