<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-title>{{ product?.productModel?.name | uppercase }}</ion-title>
        </ion-col>
        <ion-col>
          <a appCloseModal class="cursor-pointer">Close</a>
        </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
 <section>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-button fill="outline" slot="start" (click)="addProductToCart(product)">
                Add to cart
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <button class="btn bookmark" (click)="addProductToBookmark(product.productModel.id)">
                <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-title>{{ product?.productModel?.name | uppercase }}</ion-card-title>
      <ion-card-subtitle *ngIf="product?.productModel['productCategoryModel']">
        {{ product?.productModel["productCategoryModel"]["name"] | uppercase }}
      </ion-card-subtitle>
      <ion-card-subtitle color="dark">{{ product.productCostModel.unitPrice | currency }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngIf="product.productImageModels?.length > 0">
        <swiper
          *ngIf="product.productImageModels.length > 1; else defaultImage"
          id="productImage"
          [slidesPerView]="'1'"
          [spaceBetween]="30"
          [centeredSlides]="false"
          [loop]="true"
          [autoplay]="{ delay: 2500, disableOnInteraction: true }">
          <ng-template swiperSlide *ngFor="let image of product.productImageModels">
            <div class="img-holder">
              <img [src]="image.path | filePathFormatter" 
                [alt]="product?.productModel?.name">
            </div>
          </ng-template>
        </swiper>
        <ng-template #defaultImage>
          <div class="img-holder">
            <img [src]="product.productImageModels[0]?.path | filePathFormatter" 
              [alt]="product?.productModel?.name">
          </div>
        </ng-template>
      </div>
     <p class="description" *ngIf="product.productModel.description">
       {{ product.productModel.description | capitalize }}
     </p>
    </ion-card-content>
  </ion-card>
 </section>

 <app-add-to-cart 
      *ngIf="openCartModal"
      [product]="productAddedToCart"
      [productImages]="productAddedToCartImages"
      [userId]="userId"
      [show]="openCartModal"
      (closeAddToCartModalEvent)="closeCartModal()">
    </app-add-to-cart>
</ion-content>