<a [routerLink]="['/user', 'orders', 'track-order']"
  [queryParams]="{ cartId: cart?.cartId, status: productCartStatus.TRANSIT }"
  class="order">
  <div class="image">
    <img [src]="getProductImageToPreview(cart.productCheckouts) | filePathFormatter"
     height="95px" 
     *ngIf="getProductImageToPreview(cart.productCheckouts); else defaultImage"
     [alt]="cart?.dateCreated | date : 'short'" />

    <ng-template #defaultImage>
      <img src="assets/images/restaurants/kichi.png" 
      height="95px" 
      [alt]="cart?.dateCreated | date : 'short'" />
    </ng-template>
  </div>
  <div class="details">
    <h5 class="name">{{ cart?.dateCreated | date : 'short' }}</h5>
    <p class="id" *ngIf="cart?.cartId">
      <span>ID:</span> {{ cart?.cartId }}
    </p>
    <p class="items">
      {{ cart.productCheckouts?.length || 0 }} Item
    </p>
    <!-- This is the status of the order, The statuses have different classes to change the colors -->
    <p class="status waiting">
      {{ cart.status| capitalize }}
    </p>
  </div>
</a>