<div class="favourite">
  <a [routerLink]="['/user', 'nearby', 'business-detail', merchant.id]" class="image">
      <img [src]="merchant.logo | filePathFormatter" 
        height="85px" 
        *ngIf="merchant.logo; else defaultImage"
        [alt]="merchant.companyName" />
      <ng-template #defaultImage> 
        <img src="assets/images/restaurants/kfc.png" height="85px" [alt]="merchant.companyName" />
      </ng-template>
  </a>
  <div class="details">
      <a [routerLink]="['/user', 'nearby', 'business-detail', merchant.id]" class="name">
          <h5>{{ merchant.companyName | uppercase }}</h5>
      </a>
      <button class="btn bookmark" (click)="addBookmark(merchant)">
          <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
      </button>
      <p class="restaurant-name">
          <img class="svg" src="assets/images/icons/store.svg" height="15px" alt="Store">
          <span>{{ merchant.address | uppercase }}</span>
      </p>
      <div class="bottom">
          <p class="reviews">
              <img class="svg icon" alt="" src="assets/images/icons/star.svg">
              <b>{{ merchant.rate | number : '1.1-3' }}</b>
              <span>(1256)</span>
          </p>

          <!-- <p class="price">₦1,500</p> -->
      </div>
  </div>
</div>