<section id="bottom-menu">
  <div class="menu-links">
    <a [routerLink]="['/user', 'discover-items']" class="link link-secondary" [routerLinkActive]="'active'">
      <img class="svg" src="assets/images/icons/menu/home.svg" height="20px" alt="Home">
      <span>Home</span>
    </a>

    <a [routerLink]="['/user', 'nearby']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/nearby.svg" height="20px" alt="Nearby">
      <span>Nearby</span>
    </a>

    <a [routerLink]="['/user', 'orders']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/orders.svg" height="20px" alt="Orders">
      <span>Orders</span>
    </a>

    <a [routerLink]="['/user', 'favourites']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/favourites.svg" height="20px" alt="Favourites">
      <span>Favourites</span>
    </a>

    <a [routerLink]="['/profile']" [routerLinkActive]="'active'" class="link link-secondary">
      <img class="svg" src="assets/images/icons/menu/profile.svg" height="20px" alt="Profile">
      <span>Profile</span>
    </a>
  </div>
</section>