<main class="bg-primary container">
  <!-- Top section of the Onboarding page (the white part) -->
  
  <swiper [slidesPerView]="1" 
    id="onboardings"
    [spaceBetween]="30" 
    [loop]="true"
    [autoplay]="{ delay: 2500, disableOnInteraction: false }">
    <ng-template swiperSlide>
       <div class="onboarding">
            <div class="image constrain">
                <img src="assets/images/onboarding/1.svg" width="200px" alt="Onboarding Image">
            </div>

            <div class="dots constrain">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <div class="text constrain">
                <h1>Search for favorite stores near you</h1>
                <p>Discover items from over 3250 stores.</p>
            </div>
       </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="onboarding">
            <div class="image constrain">
                <img src="assets/images/onboarding/2.svg" width="200px" alt="Onboarding Image">
            </div>
    
            <div class="dots constrain">
                <span class="dot"></span>
                <span class="dot active"></span>
                <span class="dot"></span>
            </div>
    
            <div class="text constrain">
                <h1>Fast delivery to your doorstep</h1>
                <p>Fast delivery to your home, office and wherever you are.</p>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="onboarding">
            <div class="image constrain">
                <img src="assets/images/onboarding/3.svg" width="200px" alt="Onboarding Image">
            </div>
    
            <div class="dots constrain">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot active"></span>
            </div>
            
            <div class="text constrain">
                <h1>Follow your order as it moves!</h1>
                <p>Always know were r 3250 merchants</p>
            </div>
        </div>
    </ng-template>
  </swiper>

  <!-- Bottom section of the Onboarding page (the orange part) -->
  <section id="onboarding-cta" class="constrain">
      <div class="row">
          <a [routerLink]="['/auth', 'sign-up']" class="btn btn-outline-white">Sign Up</a>
          <a [routerLink]="['/auth', 'login']" class="btn btn-white text-primary">Sign In</a>
      </div>
  </section>
  <!-- Bottom section of the Onboarding page (the orange part) -->
</main>

<!-- <ion-content></ion-content> -->