<div class="category">
  <a [routerLink]="['/user', 'category-products', productCategory.productCategory.id, productCategory.productCategory.name]" 
    class="details cursor-pointer">
    <div class="image">
      <img [src]="productCategory?.productDetails[0].productImageModels[0].path | filePathFormatter"
         height="50px" 
         [alt]="productCategory?.productCategory.name" 
        *ngIf="productCategory?.productDetails?.length > 0 
          && productCategory?.productDetails[0].productImageModels.length > 0; else defaultImage"/>

          <ng-template #defaultImage>
            <img src="assets/images/categories/1.png" 
              height="50px" 
              [alt]="productCategory?.productCategory.name" />
          </ng-template>
    </div>
    <h5 class="name">{{ productCategory?.productCategory.name | capitalize }}</h5>
  </a>
</div>