<ion-content>
  <main id="orders-page" class="container with-bottom-menu bg-offwhite">
    <section id="header" class="constrain header-white">
      <div class="text">
        <h2 class="name">Orders</h2>
      </div>
    </section>
  
    <!-- 
      This is the tab buttons.
      When you click the buttons they activate the selected tab, clicking it also adds a ".active" class to both the button of the tab and the tab content.
      I have already implemented it using javascript.
    -->
    <section id="tabs" class="constrain">
      <button class="tab" 
        (click)="switchTabs(productCartStatus.TRANSIT)" 
        [ngClass]="{'active' : activeTabType === productCartStatus.TRANSIT }">
        <span>Ongoing</span>
      </button>
      <button class="tab" 
        (click)="switchTabs(productCartStatus.COMPLETED)" 
        [ngClass]="{'active' : activeTabType === productCartStatus.COMPLETED }">
        <span>History</span>
      </button>
      <button class="tab" 
        (click)="switchTabs(productCartStatus.CANCELLED)" 
        [ngClass]="{'active' : activeTabType === productCartStatus.CANCELLED }">
        <span>Cancelled</span>
      </button>
    </section>
  
    <!-- Tab content -->
    <!-- The tabs have empty states already designed. You can display them by adding a ".empty" class to the tab-content section. It'll look like this: "tab-content empty". I've done this for the Ongoing tab already.  -->
    <!-- This is the Ongoing tab -->
    <section id="ongoing" 
      class="tab-content active" 
      *ngIf="activeTabType === productCartStatus.TRANSIT"
      [ngClass]="{ 'empty': !((transitOrders$ | async)?.length > 0) }">
      <div class="orders constrain" *ngIf="(transitOrders$ | async) as transitOrders">
        <app-order-selected-widget-ongoing 
          [cart]="order"
          *ngFor="let order of transitOrders">
        </app-order-selected-widget-ongoing>
      </div>
  
      <!-- This is the empty state of the Ongoing tab -->
      <app-no-orders-found-widget 
        [showButton]="true" 
        [purpose]="'Ongoing'">
      </app-no-orders-found-widget>
    </section>
  
    <!-- Tab content -->
    <!-- This is the History tab -->
    <section id="history" 
      class="tab-content active" 
      *ngIf="activeTabType === productCartStatus.COMPLETED"
      [ngClass]="{ 'empty': !((completedOrders$ | async)?.length > 0) }">
      <div class="orders constrain" *ngIf="(completedOrders$ | async) as completedOrders">
        <app-order-selected-widget-history
          [cart]="order"
          *ngFor="let order of completedOrders">
        </app-order-selected-widget-history>
      </div>
  
      <app-no-orders-found-widget 
      [showButton]="true"
      [purpose]="'History'">
    </app-no-orders-found-widget>
    </section>
  
    <!-- Tab content -->
    <!-- This is the Draft tab -->
    <section id="draft" 
      class="tab-content active" 
      *ngIf="activeTabType === productCartStatus.CANCELLED"
      [ngClass]="{ 'empty': !((cancelledOrders$ | async)?.length > 0) }">
      <div class="orders constrain" *ngIf="(cancelledOrders$ | async) as cancelledOrders">
        <app-order-selected-widget-draft
          [cart]="order"
          *ngFor="let order of cancelledOrders">
        </app-order-selected-widget-draft>
      </div>
  
      <app-no-orders-found-widget 
        [showButton]="true" 
        [purpose]="'Cancelled'">
      </app-no-orders-found-widget>
    </section>

    <app-footer-expander></app-footer-expander>

    <!-- This is that menu at the bottom of every page -->
    <app-user-bottom-navbar></app-user-bottom-navbar>
    </main>
</ion-content>
