 <!-- There's a ".bookmarked" class on the restaurant that are bookmarked by the user, Once the .bookmarked tag is added as a class it styles the bookmark icon.-->
<div class="business" [ngClass]="{ 'bookmarked': isBookmarked }">
        <div class="details h-grid">
          <a [routerLink]="['/user', 'nearby', 'business-detail', merchant?.merchant.id]" class="image">
            <img [src]="merchant.merchant.logo | filePathFormatter" 
              height="85px" 
              *ngIf="merchant.merchant.logo; else defaultImage"
              [alt]="merchant.merchant.companyName" />
          </a>
          <ng-template #defaultImage>
            <img src="assets/images/restaurants/kichi.png"  
              height="85px" 
              [alt]="merchant.merchant.companyName" />
          </ng-template>
          <div class="text">
            <div class="h-grid first-row">
              <div class="v-grid">
                <a [routerLink]="['/user', 'nearby', 'business-detail', merchant?.merchant.id]" class="name">
                  <h5>{{ merchant.merchant.companyName | capitalize }}</h5>
                </a>
                <p>
                  <img class="svg" src="assets/images/icons/map-pointer.svg" height="10px" alt="Store">
                  <span>{{ merchant.merchant.address }}</span>
                </p>
              </div>
              
              <!-- Bookmark icon -->
              <button class="btn bookmark" (click)="addBookmark(merchant.merchant.id)">
                <img class="svg" src="assets/images/icons/bookmark.svg" height="18px" alt="Bookmark">
              </button>
            </div>
            <div class="h-grid second-row">
              <p class="reviews">
                <img class="svg icon" alt="" src="assets/images/icons/star.svg">
                <b>{{ merchant.merchant.rate | number : '1.1-2' }}</b>
                <span>({{ merchant?.merchant.ratingCount }})</span>
              </p>
  
              <!-- <p class="time" *ngIf="merchant?.merchant?.distance !== -1">
                30 Min <span>•</span> {{ merchant?.merchant?.distance }} Km
              </p> -->
              <p class="time" *ngIf="merchant?.merchant?.distance !== -1">
                <span>•</span> {{ merchant?.merchant?.distance | number : '1.1-1' }} Km away
              </p>
            </div>
            <!-- <div class="third-row">
              <div class="tag tag-outline">Free Shipping</div>
            </div> -->
          </div>
        </div>
  
        <div class="products">
          <app-single-product-widget 
            (viewProductDetailEvent)="openProductDetail($event, product)"
            [product]="product" 
            *ngFor="let product of merchant.productDetails">
          </app-single-product-widget>
        </div>
</div>

<!-- This section has a padding to allow footer to be visible -->
<div class="footer-expander" *ngIf="currentIteration === (arraySize - 1)"></div>