<ion-content>
  <main id="order-information-page" class="container">
    <!-- Wrapping everything in a form so it can be submitted to the database. -->
    <form>
      <section id="header" class="constrain header-white">
        <a backButton class="back link">
          <img class="svg" src="assets/images/icons/arrow-left.svg" width="18px" alt="Go back" />
        </a>
  
        <div class="text">
          <h2 class="title mb-2">Order Information</h2>
  
          <!-- <p class="id">
            <span>ID:</span> {{ cartId }}
          </p> -->
        </div>

        <div class="text">
          <p class="id">
            <span>ID:</span> {{ cartId }}
          </p>
        </div>
        <p class="link">
          <a (click)="openCartCheckListModal()">
            <i class="fa fa-angle-double-right"></i> View item Checklist
          </a>
        </p>
      </section>
  
      <section id="delivery-address" class="constrain">
        <div class="header">
          <h5>Delivery to</h5>
        </div>
  
        <div class="address" *ngIf="(orderInfo$ | async)?.cart.user as userInfo">
          <!-- i think a map goes here. -->
          <div class="map">
            <img src="assets/images/others/address-map.png" height="100px" alt="Map">
          </div>
  
          <div class="details">
            <h5 class="location-address">
              <img class="svg" src="assets/images/icons/map-pointer.svg" height="9px" alt="Store">
              <span>{{ (orderInfo$ | async)?.cart.deliveryAddress | capitalize }}</span>
            </h5>
            <p class="name">
              <img class="svg" src="assets/images/icons/person.svg" height="9px" alt="Store">
              <span>
                {{ userInfo.person.firstName | capitalize }}
                {{ userInfo.person.lastName | capitalize }}
              </span>
            </p>
            <p class="phone">
              <img class="svg" src="assets/images/icons/telephone.svg" height="9px" alt="Store">
              <span>{{ userInfo.person.phoneNo }}</span>
            </p>
          </div>
        </div>
      </section>
      <!-- TODO: should I list at all the merchant in a cart? -->
  
      <section id="delivery-details">
        <div class="heading constrain" *ngIf="(orderInfo$ | async) as orderInfo">
          <div class="v-grid">
            <h5>Delivery Time</h5>
            <div class="h-grid">
              <p>{{ orderInfo?.dateCreated | date : 'shortTime' }}</p>
              <p>{{ orderInfo?.dateCreated | date : 'mediumDate' }}</p>
            </div>
          </div>
          <!-- <a class="link link-primary">Edit</a> -->
        </div>
  
        <div class="cart-item constrain" *ngFor="let merchant of (merchantsRelatedToCart$ | async)">
          <div class="image">
            <img [src]="merchant.merchantImage | filePathFormatter"
              height="100px" 
              *ngIf="merchant.merchantImage; else defaultImage"
              [alt]="merchant.merchantName" />
            <ng-template #defaultImage>
              <img src="assets/images/restaurants/lion-square.png" height="100px" [alt]="merchant.merchantName" />
            </ng-template>
          </div>
          <div class="details">
            <h5 class="name">{{ merchant.merchantName | capitalize }}</h5>
            <!-- <p class="product">Lemon Fresh Juice</p> -->
            <p class="product">{{ merchant.merchantAddress | capitalize }}</p>
          </div>
        </div>
        <div class="cart-totals constrain" *ngIf="(orderInfo$ | async) as orderInfo">
          <div class="h-grid">
            <p>Subtotal (1 item)</p>
            <p>{{ orderInfo.cart.amount | currency }}</p>
          </div>
          <div class="h-grid">
            <p>VAT</p>
            <p>{{ orderInfo.cart.vat | currency }}</p>
          </div>
          <div class="h-grid">
            <p>DeliveryFee ({{ orderInfo.cart.distance }}Km)</p>
            <p>{{ orderInfo.cart.deliveryCost | currency }}</p>
          </div>
          <div class="totals">
            <h4>Total</h4>
            <h4>{{ orderInfo.cart.total | currency }}</h4>
          </div>
          <div class="h-grid payment-status-line">
            <p>Payment Status &nbsp;&nbsp;&nbsp;<span class="hightlight">{{ orderInfo.paid ? "Yes" : "No" }}</span></p>
          </div>
        </div>
      </section>
      <section id="note">
        <div class="title constrain">
          <h5>Note</h5>
        </div>
        <div class="constrain">
          <textarea name="note" placeholder="Please call me when you come. Thank you!" id="note"></textarea>
        </div>
      </section>
      
      <div *ngIf="(orderInfo$ | async) as orderInfo">
        <!-- <div class="submit constrain">
          <button type="button"  
            class="btn btn-primary cursor-pointer"
            (click)="completeDelivery(orderInfo.cartId)">
            Completed
          </button>
        </div> -->

        <div class="submit constrain" 
            *ngIf="orderInfo.cart.status === productStatus.VERIFIED; else defaultButtons"
            (click)="emitRiderLocation(orderInfo.cartId)">
            <button type="button" 
            class="btn btn-primary cursor-pointer">
            Start
          </button>
        </div>

        <ng-template #defaultButtons>
          <div *ngIf="orderInfo.cart.status === productStatus.TRANSIT">
            <div class="submit constrain" 
              *ngIf="!orderInfo.paid; else completedButton">
              <a [routerLink]="['/rider', 'accept-manual-payment', orderInfo.cartId]"
                class="btn btn-primary cursor-pointer">
                Accept Payment
              </a>
            </div>

            <ng-template #completedButton>
              <div class="submit constrain" *ngIf="orderInfo.paid">
                <button type="button"
                  class="btn btn-primary cursor-pointer"
                  (click)="completeDelivery(orderInfo.cartId)">
                  Completed
                </button>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>

    </form>
  </main>

  <!-- <app-footer-expander></app-footer-expander>
  <app-rider-bottom-navbar></app-rider-bottom-navbar> -->
</ion-content>
