.payment-status-line {
    p {
        font-size: 18px;

        .hightlight {
            color: #CBCBCD;
        }
    }
}

#order-information-page #header {
    grid-gap: 10px;
}

.link {
    a:hover,
    a:focus {
        color: #fa6400;
    }
}